<!DOCTYPE html>
<html>
  <head>
    <title>GO - DEPLOY</title>

  </head>

  <body>
    <p><h3>Project Name: <%= @deployment.project_name %></h3>
      Hey, <b><%= User.find(@deployment.user_id).name.upcase %></b> is waiting for your approval .Please have a look.
    </p>
	<%= link_to "Checklist Form" , Figaro.env.diff_base_url+ "/deployments/" + @deployment.id.to_s , target: :_blank %>
  <%= link_to "Jira Issue" , @deployment.jira_link %>
  </body>
</html>
