
Hi 
Sample mail sent using smtp.
<%= link_to "Checklist" , deployment_url(@deployment.id) %>

<!DOCTYPE html>
<html>
  <head>
    <title>GO - PLOY</title>
    
  </head>

  <body>
    <p> Hi 
	Sample mail sent using smtp.
    </p>
	<%= link_to "Checklist" , deployment_url(@deployment.id) %>
  </body>
</html>
