@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
/* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_base.scss */
nav {
  background-color: #009944;
}

/* line 5, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_base.scss */
a {
  color: #03A9F4;
}

/* line 9, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_base.scss */
body {
  background: #F1F1F1;
  font-family: 'Roboto', sans-serif;
}

/* line 14, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_base.scss */
h5 {
  position: relative;
  color: #757575;
}

/* line 19, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_base.scss */
hr {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 940px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #757575;
}

/* line 30, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_base.scss */
.page-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 40px;
  background-color: #424242;
  z-index: 1001;
}

/* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_font_family.scss */
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

/* line 2, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
.search-wrapper {
  position: relative;
  float: right;
  margin: 0 auto;
}

/* line 7, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
section {
  margin: 0 auto;
  max-width: 940px;
  padding: 5px;
  background: #FFF;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

/* line 14, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
.search-row {
  max-width: 940px;
}

/* line 17, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
.row {
  margin-bottom: 8px;
}

/* line 20, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
section h1 {
  letter-spacing: 1px;
  line-height: 30%;
  margin-top: 10px;
  margin-bottom: .5rem;
  font-size: 1.1em;
}

/* line 28, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
section p {
  margin: 10px 0px 5px 0;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 0.85em;
  color: #888;
}

/* line 36, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
section .time-p {
  margin-top: 10px;
}

/* line 40, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
.icon {
  text-align: center;
}

/* line 44, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
.cards {
  margin-top: 20px;
  margin-left: 65px;
  margin-right: 5px;
}

/* line 50, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
.cards i {
  font-size: 2em;
  margin-top: 5px;
  color: #81C784;
}

/* line 55, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
::-webkit-input-placeholder {
  color: #9E9E9E;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #9E9E9E;
  opacity: 1;
}
::-ms-input-placeholder {
  color: #9E9E9E;
  opacity: 1;
}
::placeholder {
  color: #9E9E9E;
  opacity: 1;
}

/* line 59, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
.cards .search-button-icon {
  max-width: auto;
  height: auto;
  margin: 2px;
  margin-right: 5px;
}

/* line 65, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
.btn-large {
  padding: 0px;
  padding-left: 5px;
  padding-right: 15px;
  background-color: #424242;
}

/* line 71, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
.btn-large:hover {
  background-color: black;
}

/* line 74, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
.btn {
  background-color: #424242;
}

/* line 77, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
section:hover .icon > i {
  color: #1B5E20;
}

@media screen and (max-width: 600px) {
  /* line 81, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
  .icon {
    display: block;
  }

  /* line 84, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
  section h1 {
    margin: 10px 0 0 0;
  }

  /* line 87, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_projects.scss */
  .search-wrapper {
    float: left;
  }
}
/* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.card-panel {
  padding-bottom: 5px;
}

/* line 4, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

/* line 9, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses h2 {
  text-align: center;
  color: #424242;
  margin: 5px 0 25px 0;
}

/* line 15, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses p {
  font-size: 16px;
  text-align: center;
  color: #757575;
  margin-bottom: 20px;
}

/* line 23, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses p {
  line-height: .4rem;
}
/* line 26, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses h2 {
  font-size: 2.2rem;
  line-height: 50%;
}
/* line 30, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .collection {
  margin: 0rem 0 0rem 0;
}
/* line 33, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .span-left {
  float: left;
}
/* line 36, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .span-right {
  float: right;
}
/* line 39, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .card-row {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 43, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .padding-class {
  padding: 10px;
  padding-left: 20px;
}
/* line 47, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .card-title .margins {
  margin-bottom: 0px;
}
/* line 50, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .job {
  font-size: 26px;
  float: right;
}
/* line 54, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .collection.with-header .collection-header {
  padding: 0px 20px;
}
/* line 56, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .collection.with-header .collection-header h4 {
  font-size: 20px;
  font-weight: 600;
}
/* line 61, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .collection-item {
  line-height: 0px;
}
/* line 62, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .collection-item .row {
  padding: 0px;
  margin: 0px;
}
/* line 66, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .collection-item .stagename-row {
  display: flex;
  align-items: center;
}
/* line 71, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .collection-item .jobs {
  float: right;
}
/* line 74, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .collection-item p {
  margin: 13px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  line-height: 0;
}
/* line 81, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
.container-collapses .collection-item h6 {
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  /* line 87, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
  .container-collapses h2 {
    font-size: 18px;
  }

  /* line 90, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
  .container-collapses .collection-item p {
    font-size: 14px;
  }

  /* line 93, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
  .collection-header h4 {
    font-size: 22px;
  }

  /* line 96, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/project_partials/_show_projects.scss */
  job {
    float: left;
  }
}
/* line 3, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_sidebar_menu.scss */
.fa {
  display: table-cell;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: #fff;
}

/* line 13, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_sidebar_menu.scss */
.main-menu:hover, nav.main-menu.expanded {
  width: 220px;
}

/* line 17, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_sidebar_menu.scss */
.main-menu {
  background: #009944;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 64px;
  bottom: 0;
  z-index: 1000;
  height: 100%;
  width: 60px;
  overflow: hidden;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
}

/* line 32, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_sidebar_menu.scss */
.main-menu > ul {
  margin: 7px 0;
}

/* line 36, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_sidebar_menu.scss */
.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

/* line 42, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_sidebar_menu.scss */
.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #fff;
  font-family: arial;
  font-size: 14px;
}

/* line 52, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_sidebar_menu.scss */
.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 160px;
}

/* line 59, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_sidebar_menu.scss */
.main-menu > ul.logout {
  position: absolute;
  bottom: 95px;
}

/* line 64, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_sidebar_menu.scss */
.main-menu li:hover > a, nav.main-menu li.active a {
  background-color: #1B5E20;
}

@media screen and (max-width: 601px) {
  /* line 69, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_sidebar_menu.scss */
  .main-menu {
    top: 56px;
  }
}
/* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_topmenu_bar.scss */
.nav-wrapper {
  background-color: #009944;
}

/* line 4, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_topmenu_bar.scss */
.navbar-brand {
  padding-left: 1.5rem;
  height: 50px;
  width: auto;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  /* line 11, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/menubar_partials/_topmenu_bar.scss */
  .navbar-brand {
    margin: 5px;
    padding: 0px;
  }
}
/* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_index.scss */
.collection .collection-item {
  line-height: .7rem;
}
/* line 3, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_index.scss */
.collection .collection-item .row {
  margin: 0px;
}
/* line 6, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_index.scss */
.collection .collection-item .time-p {
  float: right;
}
/* line 9, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_index.scss */
.collection .collection-item a {
  margin: 0px 0px;
  font-size: 16px;
}

/* line 14, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_index.scss */
.collection.with-header .collection-header {
  padding: 0px;
  padding-left: 15px;
}
/* line 17, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_index.scss */
.collection.with-header .collection-header h4 {
  line-height: 80%;
  font-size: 22px;
}

/* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_show.scss */
.container {
  margin-bottom: 50px;
  max-width: 940px;
}

/* line 5, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_show.scss */
.container-head {
  margin-bottom: 0px;
}

/* line 8, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_show.scss */
.diff-heading {
  padding: 5px;
  text-align: center;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 1px;
}

/* line 15, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_show.scss */
pre {
  overflow-x: scroll;
}

/* line 18, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_show.scss */
h3 {
  text-align: center;
  font-size: 2.2rem;
}

/* line 22, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_show.scss */
b {
  font-weight: normal;
  line-height: 0px;
  margin: 0;
  color: #03A9F4;
  font-size: 18px;
}

/* line 29, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_show.scss */
.fixed-button {
  position: fixed;
  right: 30px;
  z-index: 10;
}

/* line 34, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_show.scss */
.fab {
  border: none;
  font-size: 1rem;
  color: white;
  background-color: #000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 30px;
}

/* line 44, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/commit_partials/_commit_show.scss */
.fab:hover {
  background-color: #009944;
}
