/* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_base.scss */
.bg-primary {
  background: #009944;
  background: linear-gradient(#009944, #008039);
}

/* line 6, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_base.scss */
.text-primary {
  color: #000;
}

/* line 9, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_base.scss */
.btn-outline {
  color: white;
  border: 2px solid;
  border-color: white;
}
/* line 13, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_base.scss */
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: white;
  background-color: #000;
}

/* line 22, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_base.scss */
.btn {
  border-radius: 300px;
}

/* line 25, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_base.scss */
.btn-xl {
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  padding: 5px 55px;
  white-space: normal;
}

/* line 32, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_base.scss */
.btn-new {
  background-color: #484368;
  font-size: 15px;
  width: 80%;
  font-weight: 100;
  text-transform: uppercase;
  white-space: normal;
}

/* line 40, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_base.scss */
.purple-cards {
  background-color: #484368;
}

/* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_global.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 5, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_global.scss */
body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

/* line 8, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_global.scss */
a {
  color: #fdcc52;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
/* line 12, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_global.scss */
a:hover, a:focus {
  color: #fcb606;
}

/* line 17, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

/* line 20, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_global.scss */
section {
  padding: 100px 0;
}

/* line 23, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_global.scss */
.btn {
  height: auto;
}

/* line 3, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_masthead.scss */
header.masthead {
  position: relative;
  color: white;
  padding-top: 150px;
  padding-bottom: 100px;
  background: url(/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png), #009944;
  background: url(/assets/bg-pattern-369e2fea2fdb00eb15301e187e55aa4e7cf4854dc7b665f43b874093c10cddd7.png), linear-gradient(to left, #000, #009944);
}
/* line 11, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_masthead.scss */
header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}
/* line 15, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_masthead.scss */
header.masthead .header-content h1 {
  font-size: 40px;
}
@media (min-width: 992px) {
  /* line 3, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_masthead.scss */
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 24, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_masthead.scss */
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  /* line 27, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_masthead.scss */
  header.masthead .header-content h1 {
    font-size: 50px;
  }
}

/* line 2, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_steps_section.scss */
section.steps {
  position: relative;
  padding: 100px 0;
}
/* line 5, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_steps_section.scss */
section.steps h3 {
  font-size: 30px;
  color: white;
  margin-top: 0;
}
@media (min-width: 992px) {
  /* line 11, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_steps_section.scss */
  section.steps h3 {
    color: white;
    font-size: 40px;
  }
}
/* line 16, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_steps_section.scss */
section.steps .card-deck .card {
  margin-top: 20px;
  max_width: 100px;
  min-height: 500px;
}
/* line 21, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_steps_section.scss */
section.steps .align-card {
  text-align: left;
  margin-top: 20px;
  max_width: 100px;
  min-height: 500px;
}

@media (min-width: 0) {
  /* line 49, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_steps_section.scss */
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }
}
@media (min-width: 576px) {
  /* line 49, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_steps_section.scss */
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }
}
@media (min-width: 768px) {
  /* line 49, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_steps_section.scss */
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
@media (min-width: 992px) {
  /* line 49, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_steps_section.scss */
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
@media (min-width: 1200px) {
  /* line 49, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_steps_section.scss */
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
/* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_footer.scss */
footer {
  padding: 40px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

/* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_navbar.scss */
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: transparent;
  transition: all .35s;
}
/* line 5, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_navbar.scss */
#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
/* line 8, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_navbar.scss */
#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}
@media (min-width: 992px) {
  /* line 1, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_navbar.scss */
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  /* line 17, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_navbar.scss */
  #mainNav .navbar-brand {
    color: fade(white, 70%);
    font-size: 25px;
    font-weight: 500;
  }
  /* line 21, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_navbar.scss */
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  /* line 26, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_navbar.scss */
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  /* line 29, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_navbar.scss */
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  /* line 31, /Users/architjoshi/Documents/Rails/Deploy/app/assets/stylesheets/home_partials/_navbar.scss */
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
}
