---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/389/deployments?per_page=100&private_token=ZUToPioeFWK5nvSWMLAi&sort=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5e0d1595129687e4fcd6cb764c16c86b"
      Link:
      - <https://source.golabs.io/api/v4/projects/389/deployments?id=389&order_by=id&page=2&per_page=20&private_token=ZUToPioeFWK5nvSWMLAi&sort=asc>;
        rel="next", <https://source.golabs.io/api/v4/projects/389/deployments?id=389&order_by=id&page=1&per_page=20&private_token=ZUToPioeFWK5nvSWMLAi&sort=asc>;
        rel="first", <https://source.golabs.io/api/v4/projects/389/deployments?id=389&order_by=id&page=8&per_page=20&private_token=ZUToPioeFWK5nvSWMLAi&sort=asc>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '156'
      X-Total-Pages:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":9742,"iid":1,"ref":"master","sha":"6451ceec22697de9d1b9218bde087c2b343b11e6","created_at":"2017-06-06T11:56:32.557Z","user":{"id":178,"name":"mahesh","username":"mahesh","state":"active","avatar_url":"https://secure.gravatar.com/avatar/79889edb85c9285ed2d8375fc0643f09?s=80\u0026d=identicon","web_url":"https://source.golabs.io/mahesh"},"environment":{"id":314,"name":"staging","slug":"staging","external_url":null},"deployable":{"id":128885,"status":"success","stage":"deploy_staging","name":"staging_deploy","ref":"master","tag":false,"coverage":null,"created_at":"2017-06-06T11:56:14.217Z","started_at":"2017-06-06T11:56:14.462Z","finished_at":"2017-06-06T11:56:32.393Z","duration":17.930927,"user":{"id":178,"name":"mahesh","username":"mahesh","state":"active","avatar_url":"https://secure.gravatar.com/avatar/79889edb85c9285ed2d8375fc0643f09?s=80\u0026d=identicon","web_url":"https://source.golabs.io/mahesh","created_at":"2017-01-17T06:03:05.052Z","bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"6451ceec22697de9d1b9218bde087c2b343b11e6","short_id":"6451ceec","title":"GPY1000|mahesh
        only master is deployed to staging","created_at":"2017-06-06T07:47:04.000Z","parent_ids":["a6f0c8c80dc53bbcf50c57f07727aeabfff13b57"],"message":"GPY1000|mahesh
        only master is deployed to staging\n","author_name":"mahesh","author_email":"mahesh@go-jek.com","authored_date":"2017-06-06T07:47:04.000Z","committer_name":"mahesh","committer_email":"mahesh@go-jek.com","committed_date":"2017-06-06T07:47:04.000Z"},"pipeline":{"id":27644,"sha":"6451ceec22697de9d1b9218bde087c2b343b11e6","ref":"master","status":"success"},"runner":null}},{"id":9744,"iid":2,"ref":"master","sha":"6451ceec22697de9d1b9218bde087c2b343b11e6","created_at":"2017-06-06T11:59:28.646Z","user":{"id":178,"name":"mahesh","username":"mahesh","state":"active","avatar_url":"https://secure.gravatar.com/avatar/79889edb85c9285ed2d8375fc0643f09?s=80\u0026d=identicon","web_url":"https://source.golabs.io/mahesh"},"environment":{"id":314,"name":"staging","slug":"staging","external_url":null},"deployable":{"id":128891,"status":"success","stage":"deploy_staging","[...]
