---
http_interactions:
- request:
    method: post
    uri: https://godeploy.atlassian.net/rest/api/2/issue
    body:
      encoding: UTF-8
      string: '{"fields":{"project":{"key":"DEMO"},"summary":"New Issue","description":"Checklist
        link","issuetype":{"name":"Task"},"assignee":{"name":"ritik.v.aux"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cml0aWsudi5hdXhAZ28tamVrLmNvbTpIWTRHUEVQUTUxUWN3a3p4WlhCaDA4QUI=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - f0b496b0-d250-4956-bf30-a414e305f1bd
      X-Ausername:
      - ritik.v.aux
    body:
      encoding: UTF-8
      string: '{"id":"10021","key":"DEMO-21","self":"https://godeploy.atlassian.net/rest/api/2/issue/10021"}'
  recorded_at: Fri, 22 Jun 2018 08:42:43 GMT
recorded_with: VCR 4.0.0
