---
http_interactions:
- request:
    method: post
    uri: https://godeploy.atlassian.net/rest/api/2/issue
    body:
      encoding: UTF-8
      string: '{"fields":{"project":{"key":"DEMO"},"summary":"New Project - TestTitle","description":"CHECKLIST
        LINK: http://172.16.12.204:3000/4","issuetype":{"name":"Task"},"assignee":{"name":"ritik.v.aux"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cml0aWsudi5hdXhAZ28tamVrLmNvbTpIWTRHUEVQUTUxUWN3a3p4WlhCaDA4QUI=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Arequestid:
      - 3a4bc26a-aff5-441b-8f08-6592d2012572
      X-Ausername:
      - ritik.v.aux
    body:
      encoding: UTF-8
      string: '{"id":"10020","key":"DEMO-20","self":"https://godeploy.atlassian.net/rest/api/2/issue/10020"}'
  recorded_at: Fri, 22 Jun 2018 08:32:16 GMT
recorded_with: VCR 4.0.0
