---
http_interactions:
- request:
    method: get
    uri: https://godeploy.atlassian.net/rest/api/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cml0aWsudi5hdXhAZ28tamVrLmNvbTppbnZhbGlkX3Rva2Vu
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - OAuth realm="https%3A%2F%2Fgodeploy.atlassian.net"
      Content-Type:
      - text/html;charset=UTF-8
      X-Arequestid:
      - c0613b91-cb45-444e-a699-9a5131dc8d61
      X-Seraph-Loginreason:
      - AUTHENTICATED_FAILED
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n\n\n\n\n<html>\n\n<head>\n    <title>Unauthorized (401)</title>\n
        \   \n\n\n\n\n\n<!--[if IE]><![endif]-->\n<script type=\"text/javascript\"
        >\n    var contextPath = '';\n    var DeferScripts = { deferState: 'disabled'
        };\n</script>\n<script>\nwindow.WRM=window.WRM||{};window.WRM._unparsedData=window.WRM._unparsedData||{};window.WRM._unparsedErrors=window.WRM._unparsedErrors||{};\nWRM._unparsedData[\"com.atlassian.plugins.atlassian-plugins-webresource-plugin:context-path.context-path\"]=\"\\\"\\\"\";\nWRM._unparsedData[\"com.atlassian.plugins.atlassian-plugins-webresource-rest:curl.cross-origin-resources\"]=\"false\";\nWRM._unparsedData[\"jira.webresources:feature-flags.feature-flag-data\"]=\"{\\\"enabled-feature-keys\\\":[\\\"connect.no-applinks\\\",\\\"jira.plugin.devstatus.smartcommits.dvcs.enabled\\\",\\\"nps.survey.inline.dialog\\\",\\\"fusion.dvcs.use_amq_to_invoke_sync.enabled\\\",\\\"com.atlassian.jira.plugins.mail.internal.enabled\\\",\\\"sd.new.settings.sidebar.location\\\",\\\"atlassian.rest.xsrf.legacy.enabled\\\",\\\"jira.baseurl.cdn.enabled\\\",\\\"fusion.bitbucket.rebrand\\\",\\\"dvcs.connector.smartcommits.disabled\\\",\\\"sd.email.mailbox.poppy.migration.poppyonly.enabled\\\",\\\"dvcs.connector.repositorydao.ao.enabled\\\",\\\"unified.usermanagement\\\",\\\"com.atlassian.jira.projects.issuenavigator\\\",\\\"com.atlassian.jira.projects.issue.summary.vignettes\\\",\\\"atlassian.aui.raphael.disabled\\\",\\\"fusion.dvcs.use_amq_for_executors.enabled\\\",\\\"fusion.devstatus.devsummary.customfield.jql.enabled\\\",\\\"com.atlassian.jira.config.CoreFeatures.PERMISSIONS_MANAGED_BY_UM\\\",\\\"com.atlassian.jira.projects.ProjectCentricNavigation.Switch\\\",\\\"com.atlassian.jira.config.CoreFeatures.ON_DEMAND\\\",\\\"atlassian.plugin.aci.enabled\\\"],\\\"feature-flag-states\\\":{\\\"sd.sla.agent.jql.security.restricted\\\":true,\\\"jira.feature.flag.board.issue.modal.labs\\\":true,\\\"sd.test.feature.flag.x\\\":true,\\\"sd.test.feature.flag.y\\\":false,\\\"jira.issue.search.api.databaseonly\\\":false,\\\"sd.email.channel.folders\\\":false,\\\"jira.issue.search.jql.databaseonly\\\":false,\\\"jira.mail.default.mailstore.polling\\\":true,\\\"com.atlassian.jira.plugins.mail.size.check\\\":true,\\\"jira.instrumentation.laas\\\":false,\\\"jira.issue.search.jql.issuepicker.killswitch\\\":false,\\\"sd.new.settings.sidebar.location\\\":true,\\\"jira.feature.rest.single.step.avatar.upload\\\":true,\\\"sd.email.outsider.comments\\\":false,\\\"sd.email.add.user.cc\\\":true,\\\"jira.login.useBasicAuthFilter\\\":true,\\\"jira.ondemand.maintain.trusted.apps\\\":true,\\\"jira.mail.fake.default.mail.server\\\":false,\\\"jira.issue.search.jql.anonymize\\\":true,\\\"com.atlassian.jira.plugins.mail.internal\\\":false,\\\"com.atlassian.jira.feature.flag.for.TestFeatureFlagResource\\\":false,\\\"com.atlassian.jira.plugins.mail.amq\\\":true,\\\"sd.global.portal.search.atlassian.only.tracking\\\":false,\\\"jira.feature.flag.board.polling\\\":true,\\\"issue.collector.cache.limiter\\\":true}}\";\nWRM._unparsedData[\"jira.webresources:simplified-ux-feature-flags.feature-flag-data\"]=\"{\\\"isBacklogViewPlanSprintXflowEnabled\\\":true,\\\"isGlobalSidebarEnabled\\\":true,\\\"isAdg3NewProjectAvatarsEnabled\\\":true,\\\"isUserDiscoveryEnabled\\\":false,\\\"isGlobalSettingsLandingPageEnable\\\":false,\\\"isNewExperienceMenuEnabled\\\":false,\\\"isOptinDismissed\\\":false,\\\"isUmuxLiteInAdg2Enabled\\\":false,\\\"isFiltersDirectoryVersion2Enabled\\\":false,\\\"isProjectDirectoryVersion2Enabled\\\":false,\\\"isAdg3FeatureStateCheckerEnabled\\\":false,\\\"isStickyQuickfilterFixEnabled\\\":false,\\\"isUserOptedInSkipped\\\":false,\\\"isAgilityProjectFeaturesAllowed\\\":true,\\\"isAdg3StylesEnabled\\\":true,\\\"isGinFilterDetailsDialogEnabled\\\":false,\\\"isChangeboardingOptional\\\":false,\\\"isAdg3PINEnabled\\\":false,\\\"isUnusedUserPreferencesHidden\\\":true,\\\"isPeopleProfileEnabled\\\":false,\\\"isProjectLandingEnabled\\\":false,\\\"isAdg3ProfilecardEnabled\\\":false,\\\"isGraduationWarningVisible\\\":false,\\\"isVersionsPageOn\\\":true,\\\"isImportIssueButtonEnabled\\\":true,\\\"isXflowPagesEnabled\\\":true,\\\"isOnboardingProjectSwitcherEnabled\\\":true,\\\"isLabsEnabled\\\":true,\\\"isOptOutEnabled\\\":false,\\\"isUserOptedIn\\\":false,\\\"isAdg3ModeOn\\\":true,\\\"isOptInEnabled\\\":false}\";\nWRM._unparsedData[\"jira.webresources:default-comment-security-level.DefaultCommentSecurityLevelHelpLink\"]=\"{\\\"extraClasses\\\":\\\"default-comment-level-help\\\",\\\"title\\\":\\\"Commenting
        on an Issue\\\",\\\"url\\\":\\\"https://confluence.atlassian.com/display/JIRACORECLOUD/Editing+and+collaborating+on+issues#Editingandcollaboratingonissues-addcommentsCommentingonissues\\\",\\\"isLocal\\\":false}\";\nWRM._unparsedData[\"com.atlassian.jira.jira-client-analytics-plugin:analytics-context-provider.client-analytic-descriptors\"]=\"{\\\"analyticsResource\\\":{\\\"jira-core\\\":{\\\"events\\\":{\\\"issue.comment.added\\\":{\\\"trigger\\\":\\\"click
        #issue-comment-add-submit\\\",\\\"properties\\\":{\\\"comment-length\\\":\\\"value.length
        #issue-comment-add #comment\\\"}}}}},\\\"tenantId\\\":\\\"1d7c6b68-35a4-4031-ba3d-8d81f4c3e8fe\\\",\\\"env\\\":\\\"prod\\\"}\";\nWRM._unparsedData[\"jira.webresources:key-commands.shortcuts\"]=\"[{\\\"moduleKey\\\":\\\"go-to-dashboard-kb-shortcut\\\",\\\"keys\\\":[[\\\"g\\\",\\\"d\\\"]],\\\"context\\\":\\\"global\\\",\\\"op\\\":\\\"goTo\\\",\\\"param\\\":\\\"/secure/Dashboard.jspa\\\"},{\\\"moduleKey\\\":\\\"browse-project-kb-shortcut\\\",\\\"keys\\\":[[\\\"g\\\",\\\"p\\\"]],\\\"context\\\":\\\"global\\\",\\\"op\\\":\\\"execute\\\",\\\"param\\\":\\\"var
        elem = jQuery(\\\\\\\"#browse_link\\\\\\\");\\\\n                if (elem.length
        \\u003e 0) {\\\\n                    window.location.href = elem.attr(\\\\\\\"href\\\\\\\");\\\\n
        \               }\\\"},{\\\"moduleKey\\\":\\\"issue-navigator-kb-shortcut\\\",\\\"keys\\\":[[\[...]
