---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/repository/commits/c05f9e9b?private_token=_YDN1qs7zMVVuCayWYpm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"52d09d8e11743584b1f0f10a9de2e843"
    body:
      encoding: UTF-8
      string: '{"id":"c05f9e9b8ed24ac1face4844c67aac8b04e13bf4","short_id":"c05f9e9b","title":"Update
        README.md","created_at":"2018-06-13T06:21:19.000+00:00","parent_ids":["8d78d8b0ee848a2b04318f9b075c3ea7f835d171"],"message":"Update
        README.md","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-13T06:21:19.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-13T06:21:19.000+00:00","stats":{"additions":2,"deletions":2,"total":4},"status":"canceled","last_pipeline":{"id":213338,"sha":"c05f9e9b8ed24ac1face4844c67aac8b04e13bf4","ref":"master","status":"canceled"},"project_id":3850}'
  recorded_at: Mon, 18 Jun 2018 09:54:44 GMT
recorded_with: VCR 4.0.0
