---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=Dh36kW9v5J9zHVTk3syC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"68f5eeaff766e5ece442c96b6bd9f3fe"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=52&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1021'
      X-Total-Pages:
      - '52'
    body:
      encoding: UTF-8
      string: '[{"id":1056,"name":"rizky.dwi","username":"rizky.dwi","state":"active","avatar_url":"https://secure.gravatar.com/avatar/35a4fe2dc7934fb0bae3382957f0b14e?s=80\u0026d=identicon","web_url":"https://source.golabs.io/rizky.dwi"},{"id":1055,"name":"Anirudh
        M","username":"anirudh.m.aux","state":"active","avatar_url":"https://source.golabs.io/uploads/-/system/user/avatar/1055/avatar.png","web_url":"https://source.golabs.io/anirudh.m.aux"},{"id":1054,"name":"julius.lauw","username":"julius.lauw","state":"active","avatar_url":"https://secure.gravatar.com/avatar/13eb63fbcc7bc61e21ea0e2a35e58aa2?s=80\u0026d=identicon","web_url":"https://source.golabs.io/julius.lauw"},{"id":1053,"na[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=Dh36kW9v5J9zHVTk3syC&username=ritik.v.aux
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b591ad44db35c144680c50b6eb2be06"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&username=ritik.v.aux&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&username=ritik.v.aux&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":1022,"name":"Ritik Verma","username":"ritik.v.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e28fafbbe3c5bc839318e09f489a0587?s=80\u0026d=identicon","web_url":"https://source.golabs.io/ritik.v.aux"}]'
  recorded_at: Fri, 22 Jun 2018 06:46:46 GMT
recorded_with: VCR 4.0.0
