---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=Dh36kW9v5J9zHVTk3syC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"68f5eeaff766e5ece442c96b6bd9f3fe"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=52&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1021'
      X-Total-Pages:
      - '52'
    body:
      encoding: UTF-8
      string: '[{"id":1056,"name":"rizky.dwi","username":"rizky.dwi","state":"active","avatar_url":"https://secure.gravatar.com/avatar/35a4fe2dc7934fb0bae3382957f0b14e?s=80\u0026d=identicon","web_url":"https://source.golabs.io/rizky.dwi"},{"id":1055,"name":"Anirudh
        M","username":"anirudh.m.aux","state":"active","avatar_url":"https://source.golabs.io/uploads/-/system/user/avatar/1055/avatar.png","web_url":"https://source.golabs.io/anirudh.m.aux"},{"id":1054,"name":"julius.lauw","username":"julius.lauw","state":"active","avatar_url":"https://secure.gravatar.com/avatar/13eb63fbcc7bc61e21ea0e2a35e58aa2?s=80\u0026d=identicon","web_url":"https://source.golabs.io/julius.lauw"},{"id":1053,"na[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=Dh36kW9v5J9zHVTk3syC&username=ritik.v.aux
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b591ad44db35c144680c50b6eb2be06"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&username=ritik.v.aux&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&username=ritik.v.aux&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":1022,"name":"Ritik Verma","username":"ritik.v.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e28fafbbe3c5bc839318e09f489a0587?s=80\u0026d=identicon","web_url":"https://source.golabs.io/ritik.v.aux"}]'
  recorded_at: Fri, 22 Jun 2018 06:46:43 GMT
- request:
    method: get
    uri: https://godeploy.atlassian.net/rest/api/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cml0aWsudi5hdXhAZ28tamVrLmNvbTppbnZhbGlkX3Rva2Vu
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - OAuth realm="https%3A%2F%2Fgodeploy.atlassian.net"
      Content-Type:
      - text/html;charset=UTF-8
      X-Arequestid:
      - 6fa9c5eb-d8b3-4c96-b4d8-9e7419202f94
      X-Seraph-Loginreason:
      - AUTHENTICATED_FAILED
    body:
      encoding: UTF-8
      string: "\n\n\n\n\n\n\n\n\n\n<html>\n\n<head>\n    <title>Unauthorized (401)</title>\n
        \   \n\n\n\n\n\n<!--[if IE]><![endif]-->\n<script type=\"text/javascript\"
        >\n    var contextPath = '';\n    var DeferScripts = { deferState: 'disabled'
        };\n</script>\n<script>\nwindow.WRM=window.WRM||{};window.WRM._unparsedData=window.WRM._unparsedData||{};window.WRM._unparsedErrors=window.WRM._unparsedErrors||{};\nWRM._unparsedData[\"com.atlassian.plugins.atlassian-plugins-webresource-plugin:context-path.context-path\"]=\"\\\"\\\"\";\nWRM._unparsedData[\"com.atlassian.plugins.atlassian-plugins-webresource-rest:curl.cross-origin-resources\"]=\"false\";\nWRM._unparsedData[\"jira.webresources:feature-flags.feature-flag-data\"]=\"{\\\"enabled-feature-keys\\\":[\\\"connect.no-applinks\\\",\\\"jira.plugin.devstatus.smartcommits.dvcs.enabled\\\",\\\"nps.survey.inline.dialog\\\",\\\"fusion.dvcs.use_amq_to_invoke_sync.enabled\\\",\\\"com.atlassian.jira.plugins.mail.internal.enabled\\\",\\\"sd.new.settings.sidebar.location\\\",\\\"atlassian.rest.xsrf.legacy.enabled\\\",\\\"jira.baseurl.cdn.enabled\\\",\\\"fusion.bitbucket.rebrand\\\",\\\"dvcs.connector.smartcommits.disabled\\\",\\\"sd.email.mailbox.poppy.migration.poppyonly.enabled\\\",\\\"dvcs.connector.repositorydao.ao.enabled\\\",\\\"unified.usermanagement\\\",\\\"com.atlassian.jira.projects.issuenavigator\\\",\\\"com.atlassian.jira.projects.issue.summary.vignettes\\\",\\\"atlassian.aui.raphael.disabled\\\",\\\"fusion.dvcs.use_amq_for_executors.enabled\\\",\\\"fusion.devstatus.devsummary.customfield.jql.enabled\\\",\\\"com.atlassian.jira.config.CoreFeatures.PERMISSIONS_MANAGED_BY_UM\\\",\\\"com.atlassian.jira.projects.ProjectCentricNavigation.Switch\\\",\\\"com.atlassian.jira.config.CoreFeatures.ON_DEMAND\\\",\\\"atlassian.plugin.aci.enabled\\\"],\\\"feature-flag-states\\\":{\\\"sd.sla.agent.jql.security.restricted\\\":true,\\\"jira.feature.flag.board.issue.modal.labs\\\":true,\\\"sd.test.feature.flag.x\\\":true,\\\"sd.test.feature.flag.y\\\":false,\\\"jira.issue.search.api.databaseonly\\\":false,\\\"sd.email.channel.folders\\\":false,\\\"jira.issue.search.jql.databaseonly\\\":false,\\\"jira.mail.default.mailstore.polling\\\":true,\\\"com.atlassian.jira.plugins.mail.size.check\\\":true,\\\"jira.instrumentation.laas\\\":false,\\\"jira.issue.search.jql.issuepicker.killswitch\\\":false,\\\"sd.new.settings.sidebar.location\\\":true,\\\"jira.feature.rest.single.step.avatar.upload\\\":true,\\\"sd.email.outsider.comments\\\":false,\\\"sd.email.add.user.cc\\\":true,\\\"jira.login.useBasicAuthFilter\\\":true,\\\"jira.ondemand.maintain.trusted.apps\\\":true,\\\"jira.mail.fake.default.mail.server\\\":false,\\\"jira.issue.search.jql.anonymize\\\":true,\\\"com.atlassian.jira.plugins.mail.internal\\\":false,\\\"com.atlassian.jira.feature.flag.for.TestFeatureFlagResource\\\":false,\\\"com.atlassian.jira.plugins.mail.amq\\\":true,\\\"sd.global.portal.search.atlassian.only.tracking\\\":false,\\\"jira.feature.flag.board.polling\\\":true,\\\"issue.collector.cache.limiter\\\":true}}\";\nWRM._unparsedData[\"jira.webresources:simplified-ux-feature-flags.feature-flag-data\"]=\"{\\\"isBacklogViewPlanSprintXflowEnabled\\\":true,\\\"isGlobalSidebarEnabled\\\":true,\\\"isAdg3NewProjectAvatarsEnabled\\\":true,\\\"isUserDiscoveryEnabled\\\":false,\\\"isGlobalSettingsLandingPageEnable\\\":false,\\\"isNewExperienceMenuEnabled\\\":false,\\\"isOptinDismissed\\\":false,\\\"isUmuxLiteInAdg2Enabled\\\":false,\\\"isFiltersDirectoryVersion2Enabled\\\":false,\\\"isProjectDirectoryVersion2Enabled\\\":false,\\\"isAdg3FeatureStateCheckerEnabled\\\":false,\\\"isStickyQuickfilterFixEnabled\\\":false,\\\"isUserOptedInSkipped\\\":false,\\\"isAgilityProjectFeaturesAllowed\\\":true,\\\"isAdg3StylesEnabled\\\":true,\\\"isGinFilterDetailsDialogEnabled\\\":false,\\\"isChangeboardingOptional\\\":false,\\\"isAdg3PINEnabled\\\":false,\\\"isUnusedUserPreferencesHidden\\\":true,\\\"isPeopleProfileEnabled\\\":false,\\\"isProjectLandingEnabled\\\":false,\\\"isAdg3ProfilecardEnabled\\\":false,\\\"isGraduationWarningVisible\\\":false,\\\"isVersionsPageOn\\\":true,\\\"isImportIssueButtonEnabled\\\":true,\\\"isXflowPagesEnabled\\\":true,\\\"isOnboardingProjectSwitcherEnabled\\\":true,\\\"isLabsEnabled\\\":true,\\\"isOptOutEnabled\\\":false,\\\"isUserOptedIn\\\":false,\\\"isAdg3ModeOn\\\":true,\\\"isOptInEnabled\\\":false}\";\nWRM._unparsedData[\"jira.webresources:default-comment-security-level.DefaultCommentSecurityLevelHelpLink\"]=\"{\\\"extraClasses\\\":\\\"default-comment-level-help\\\",\\\"title\\\":\\\"Commenting
        on an Issue\\\",\\\"url\\\":\\\"https://confluence.atlassian.com/display/JIRACORECLOUD/Editing+and+collaborating+on+issues#Editingandcollaboratingonissues-addcommentsCommentingonissues\\\",\\\"isLocal\\\":false}\";\nWRM._unparsedData[\"com.atlassian.jira.jira-client-analytics-plugin:analytics-context-provider.client-analytic-descriptors\"]=\"{\\\"analyticsResource\\\":{\\\"jira-core\\\":{\\\"events\\\":{\\\"issue.comment.added\\\":{\\\"trigger\\\":\\\"click
        #issue-comment-add-submit\\\",\\\"properties\\\":{\\\"comment-length\\\":\\\"value.length
        #issue-comment-add #comment\\\"}}}}},\\\"tenantId\\\":\\\"1d7c6b68-35a4-4031-ba3d-8d81f4c3e8fe\\\",\\\"env\\\":\\\"prod\\\"}\";\nWRM._unparsedData[\"jira.webresources:key-commands.shortcuts\"]=\"[{\\\"moduleKey\\\":\\\"go-to-dashboard-kb-shortcut\\\",\\\"keys\\\":[[\\\"g\\\",\\\"d\\\"]],\\\"context\\\":\\\"global\\\",\\\"op\\\":\\\"goTo\\\",\\\"param\\\":\\\"/secure/Dashboard.jspa\\\"},{\\\"moduleKey\\\":\\\"browse-project-kb-shortcut\\\",\\\"keys\\\":[[\\\"g\\\",\\\"p\\\"]],\\\"context\\\":\\\"global\\\",\\\"op\\\":\\\"execute\\\",\\\"param\\\":\\\"var
        elem = jQuery(\\\\\\\"#browse_link\\\\\\\");\\\\n                if (elem.length
        \\u003e 0) {\\\\n                    window.location.href = elem.attr(\\\\\\\"href\\\\\\\");\\\\n
        \               }\\\"},{\\\"moduleKey\\\":\\\"issue-navigator-kb-shortcut\\\",\\\"keys\\\":[[\[...]
