---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/pipelines?per_page=5&private_token=SpFM_1tetqXNjmQWvSZp&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28cd74bf1661fae94c81a7596101ff99"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=2&per_page=5&private_token=SpFM_1tetqXNjmQWvSZp&ref=master&sort=desc>;
        rel="next", <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=1&per_page=5&private_token=SpFM_1tetqXNjmQWvSZp&ref=master&sort=desc>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=2&per_page=5&private_token=SpFM_1tetqXNjmQWvSZp&ref=master&sort=desc>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '5'
      X-Prev-Page:
      - ''
      X-Total:
      - '8'
      X-Total-Pages:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"id":210972,"sha":"95158f8e7da1c17ba1989cad3ca22dc4c4b21920","ref":"master","status":"success"},{"id":210966,"sha":"21cd48b5a2f72bbc3bb6b5f93d7b66012f4c45d5","ref":"master","status":"success"},{"id":210964,"sha":"0167e10f88271c1ff82d2d25d93c7c446f3cb469","ref":"master","status":"success"},{"id":209671,"sha":"07038cd57dd6acdf5d3693c3aba347089160f65a","ref":"master","status":"success"},{"id":209654,"sha":"116c146766436681ab6d7f5d4c2876d0b7988a9c","ref":"master","status":"success"}]'
  recorded_at: Mon, 11 Jun 2018 07:20:43 GMT
recorded_with: VCR 4.0.0
