---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/jobs?private_token=GeP9zqTKCWDS7aiaVUjj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"005d69eb80be8eaf7583e65de8af34b2"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/jobs?id=3850&page=1&per_page=20&private_token=GeP9zqTKCWDS7aiaVUjj>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/jobs?id=3850&page=1&per_page=20&private_token=GeP9zqTKCWDS7aiaVUjj>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '4'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":1293872,"status":"success","stage":"test","name":"deploy","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-04T04:49:34.692Z","started_at":"2018-06-04T04:49:35.788Z","finished_at":"2018-06-04T04:50:30.425Z","duration":54.637256,"user":{"id":1020,"name":"archit.j.aux","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created_at":"2018-05-31T13:37:45.974Z","bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"7771c0a1756ab828d5e0e1c3f94b47b4212e1087","short_id":"7771c0a1","title":"Update
        .gitlab-ci.yml","created_at":"2018-06-04T04:49:34.000Z","parent_ids":["56fe362d3932d91d8af19e4ce1883616c2cd122e"],"message":"Update
        .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-04T04:49:34.000Z","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-04T04:49:34.000Z"},"pipeline":{"id":205877,"sha":"7771c0a1756ab828d5e0e1c3f94b47b4212e1087","ref":"master","status":"success"},"runner":null},{"id":1293871,"status":"success","stage":"test","name":"rspec","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-04T04:49:34.679Z","started_at":"2018-06-04T04:49:35.702Z","finished_at":"2018-06-04T04:50:28.236Z","duration":52.533916,"user":{"id":1020,"name":"archit.j.aux","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created[...]
