---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850?private_token=SpFM_1tetqXNjmQWvSZp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a8973513f33c63247f229ba6d07d11e6"
    body:
      encoding: UTF-8
      string: '{"id":3850,"description":"","name":"CalculatorProject","name_with_namespace":"archit.j.aux
        / CalculatorProject","path":"CalculatorProject","path_with_namespace":"archit.j.aux/CalculatorProject","created_at":"2018-06-01T06:04:27.249Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@source.golabs.io:archit.j.aux/CalculatorProject.git","http_url_to_repo":"https://source.golabs.io/archit.j.aux/CalculatorProject.git","web_url":"https://source.golabs.io/archit.j.aux/CalculatorProject","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2018-06-07T05:05:30.687Z","_links":{"self":"https://source.golabs.io/api/v4/projects/3850","issues":"https://source.golabs.io/api/v4/projects/3850/issues","merge_requests":"https://source.golabs.io/api/v4/projects/3850/merge_requests","repo_branches":"https://source.golabs.io/api/v4/projects/3850/repository/branches","labels":"https://source.golabs.io/api/v4/projects/3850/labels","events":"https://source.golabs.io/api/v4/projects/3850/events","members":"https://source.golabs.io/api/v4/projects/3850/members"},"archived":false,"visibility":"internal","owner":{"id":1020,"name":"archit.j.aux","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1020,"namespace":{"id":1183,"name":"archit.j.aux","path":"archit.j.aux","kind":"user","full_path":"archit.j.aux","parent_id":null},"import_status":"none","import_error":null,"open_issues_count":0,"runners_token":"jAsV_gU1MhUrVrZs6QyS","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'
  recorded_at: Thu, 07 Jun 2018 05:49:26 GMT
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/jobs?private_token=SpFM_1tetqXNjmQWvSZp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44129b00c23c413f846bd84c09dcd9b3"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/jobs?id=3850&page=1&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/jobs?id=3850&page=1&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '9'
      X-Total-Pages:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1320868,"status":"success","stage":"deploy","name":"production","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-07T05:22:05.974Z","started_at":"2018-06-07T05:23:24.560Z","finished_at":"2018-06-07T05:23:59.574Z","duration":35.013513,"user":{"id":1020,"name":"archit.j.aux","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created_at":"2018-05-31T13:37:45.974Z","bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"07038cd57dd6acdf5d3693c3aba347089160f65a","short_id":"07038cd5","title":"Modify
        .gitlab-ci.yml","created_at":"2018-06-07T05:22:05.000Z","parent_ids":["116c146766436681ab6d7f5d4c2876d0b7988a9c"],"message":"Modify
        .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-07T05:22:05.000Z","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-07T05:22:05.000Z"},"pipeline":{"id":209671,"sha":"07038cd57dd6acdf5d3693c3aba347089160f65a","ref":"master","status":"success"},"runner":{"id":2284,"description":"i-gitlab-docker-runner-p6wx","active":true,"is_shared":true,"name":"gitlab-runner","online":true,"status":"online"}},{"id":1320867,"status":"success","stage":"deploy","name":"staging","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-07T05:22:05.961Z","started_at":"2018-06-07T05:23:24.484Z","finished_at":"2018-06-07T05:23:59.346Z","duration":34.862379,"user":{"id":1020,"name":"archit.j.aux","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io[...]
