---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects?membership=true&owned=true&per_page=1000&private_token=2zs_9Eu2PyH2z822Vg4a&search=test2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"62c241c28de91f834fe8f6db0e311238"
      Link:
      - <https://source.golabs.io/api/v4/projects?archived=false&membership=true&order_by=created_at&owned=true&page=1&per_page=100&private_token=2zs_9Eu2PyH2z822Vg4a&search=test2&simple=false&sort=desc&starred=false&statistics=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="first", <https://source.golabs.io/api/v4/projects?archived=false&membership=true&order_by=created_at&owned=true&page=1&per_page=100&private_token=2zs_9Eu2PyH2z822Vg4a&search=test2&simple=false&sort=desc&starred=false&statistics=false&with_custom_attributes=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":3863,"description":"","name":"test2","name_with_namespace":"Ritik
        Verma / test2","path":"test2","path_with_namespace":"ritik.v.aux/test2","created_at":"2018-06-02T13:49:24.637Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@source.golabs.io:ritik.v.aux/test2.git","http_url_to_repo":"https://source.golabs.io/ritik.v.aux/test2.git","web_url":"https://source.golabs.io/ritik.v.aux/test2","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2018-06-02T13:49:24.637Z","_links":{"self":"https://source.golabs.io/api/v4/projects/3863","issues":"https://source.golabs.io/api/v4/projects/3863/issues","merge_requests":"https://source.golabs.io/api/v4/projects/3863/merge_requests","repo_branches":"https://source.golabs.io/api/v4/projects/3863/repository/branches","labels":"https://source.golabs.io/api/v4/projects/3863/labels","events":"https://source.golabs.io/api/v4/projects/3863/events","members":"https://source.golabs.io/api/v4/projects/3863/members"},"archived":false,"visibility":"internal","owner":{"id":1022,"name":"Ritik
        Verma","username":"ritik.v.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e28fafbbe3c5bc839318e09f489a0587?s=80\u0026d=identicon","web_url":"https://source.golabs.io/ritik.v.aux"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1022,"namespace":{"id":1185,"name":"ritik.v.aux","path":"ritik.v.aux","kind":"user","full_path":"ritik.v.aux","parent_id":null},"import_status":"none","open_issues_count":0,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}]'
  recorded_at: Wed, 13 Jun 2018 09:10:23 GMT
recorded_with: VCR 4.0.0
