---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/deployments?private_token=hsxHUDx6k_t6P_5isK5t
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6328b44cb09023b61c1263020b4523a3"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/deployments?id=3850&order_by=id&page=1&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&sort=asc>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/deployments?id=3850&order_by=id&page=1&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&sort=asc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '6'
      X-Total-Pages:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":91270,"iid":1,"ref":"master","sha":"2940844b59cff959818aee6a07ca029432c0b6ca","created_at":"2018-06-13T06:08:41.653Z","user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux"},"environment":{"id":1548,"name":"staging","slug":"staging","external_url":null},"deployable":{"id":1340524,"status":"success","stage":"deploy","name":"deploy_staging","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-13T06:07:21.975Z","started_at":"2018-06-13T06:08:07.481Z","finished_at":"2018-06-13T06:08:41.519Z","duration":34.038038,"user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created_at":"2018-05-31T13:37:45.974Z","bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"2940844b59cff959818aee6a07ca029432c0b6ca","short_id":"2940844b","title":"Add
        environments to .gitlab-ci.yml","created_at":"2018-06-13T06:07:21.000Z","parent_ids":["63a476ef629c7bdf8ef22960572f045ca1a6b084"],"message":"Add
        environments to .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-13T06:07:21.000Z","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-13T06:07:21.000Z"},"pipeline":{"id":213315,"sha":"2940844b59cff959818aee6a07ca029432c0b6ca","ref":"master","status":"success"},"runner":{"id":2473,"description":"i-gitlab-docker-runner-nw31","active":true,"is_shared":true,"name":"gitlab-runner","online":true,"status":"online"}}},{"id":91271,"iid":2,"ref":"master","sha":"2940844b59cff959818aee6a07ca029432c0b6ca","created_at":"2018-06-13T06:08:45.755Z","user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux"},"environment":{"id":1549,"name":"production","slug":"production","external_url":null},"deployable":{"id[...]
