---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/jobs?private_token=2zs_9Eu2PyH2z822Vg4a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bf5ebeb188ea48f1c89d62a7c53155cb"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/jobs?id=3850&page=1&per_page=20&private_token=2zs_9Eu2PyH2z822Vg4a>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/jobs?id=3850&page=1&per_page=20&private_token=2zs_9Eu2PyH2z822Vg4a>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '18'
      X-Total-Pages:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1328121,"status":"success","stage":"deploy","name":"production","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-08T12:12:43.129Z","started_at":"2018-06-08T12:13:19.486Z","finished_at":"2018-06-08T12:13:58.191Z","duration":38.70488,"user":{"id":1020,"name":"archit.j.aux","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created_at":"2018-05-31T13:37:45.974Z","bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"95158f8e7da1c17ba1989cad3ca22dc4c4b21920","short_id":"95158f8e","title":"Included
        some lines in README.md","created_at":"2018-06-08T12:12:42.000Z","parent_ids":["21cd48b5a2f72bbc3bb6b5f93d7b66012f4c45d5"],"message":"Included
        some lines in README.md","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-08T12:12:42.000Z","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-08T12:12:42.000Z"},"pipeline":{"id":210972,"sha":"95158f8e7da1c17ba1989cad3ca22dc4c4b21920","ref":"master","status":"success"},"runner":null},{"id":1328120,"status":"success","stage":"deploy","name":"staging","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-08T12:12:43.117Z","started_at":"2018-06-08T12:13:19.394Z","finished_at":"2018-06-08T12:14:00.618Z","duration":41.224348,"user":{"id":1020,"name":"archit.j.aux","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","cre[...]
