---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/pipelines?per_page=5&private_token=hsxHUDx6k_t6P_5isK5t&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"80662b7cf4f15db72cfeeeca3f0030c9"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=2&per_page=5&private_token=hsxHUDx6k_t6P_5isK5t&ref=master&sort=desc>;
        rel="next", <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=1&per_page=5&private_token=hsxHUDx6k_t6P_5isK5t&ref=master&sort=desc>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=3&per_page=5&private_token=hsxHUDx6k_t6P_5isK5t&ref=master&sort=desc>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '5'
      X-Prev-Page:
      - ''
      X-Total:
      - '14'
      X-Total-Pages:
      - '3'
    body:
      encoding: UTF-8
      string: '[{"id":213350,"sha":"ed62398d217afa7767e488ae36ce3356f39ed531","ref":"master","status":"success"},{"id":213338,"sha":"c05f9e9b8ed24ac1face4844c67aac8b04e13bf4","ref":"master","status":"canceled"},{"id":213329,"sha":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","ref":"master","status":"success"},{"id":213326,"sha":"ae8617d17cada11e99e8bc31489ea1c467c16161","ref":"master","status":"success"},{"id":213315,"sha":"2940844b59cff959818aee6a07ca029432c0b6ca","ref":"master","status":"success"}]'
  recorded_at: Wed, 13 Jun 2018 09:10:26 GMT
recorded_with: VCR 4.0.0
