---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=hsxHUDx6k_t6P_5isK5t
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f67ef60e613fbf0cbef2fd17dd9e79f7"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=51&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1007'
      X-Total-Pages:
      - '51'
    body:
      encoding: UTF-8
      string: '[{"id":1041,"name":"kashyap.k","username":"kashyap.k","state":"active","avatar_url":"https://secure.gravatar.com/avatar/657939eb7b23ae76b54ca8fcb04cb597?s=80\u0026d=identicon","web_url":"https://source.golabs.io/kashyap.k"},{"id":1040,"name":"kashif.khan","username":"kashif.khan","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dd10994651237ccfc564817e718dfc60?s=80\u0026d=identicon","web_url":"https://source.golabs.io/kashif.khan"},{"id":1039,"name":"gunjan.dewan","username":"gunjan.dewan","state":"active","avatar_url":"https://secure.gravatar.com/avatar/2512136b37be09f1bc7c011661e35c88?s=80\u0026d=identicon","web_url":"https://source.golabs.io/gunjan.dewan"},{[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850?private_token=hsxHUDx6k_t6P_5isK5t&statistics=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d1e55748eff64bebacb7961483a818e5"
    body:
      encoding: UTF-8
      string: '{"id":3850,"description":"This is my awesome calculator.","name":"CalculatorProject","name_with_namespace":"archit.j.aux
        / CalculatorProject","path":"CalculatorProject","path_with_namespace":"archit.j.aux/CalculatorProject","created_at":"2018-06-01T06:04:27.249Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@source.golabs.io:archit.j.aux/CalculatorProject.git","http_url_to_repo":"https://source.golabs.io/archit.j.aux/CalculatorProject.git","web_url":"https://source.golabs.io/archit.j.aux/CalculatorProject","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2018-06-13T06:07:21.905Z","_links":{"self":"https://source.golabs.io/api/v4/projects/3850","issues":"https://source.golabs.io/api/v4/projects/3850/issues","merge_requests":"https://source.golabs.io/api/v4/projects/3850/merge_requests","repo_branches":"https://source.golabs.io/api/v4/projects/3850/repository/branches","labels":"https://source.golabs.io/api/v4/projects/3850/labels","events":"https://source.golabs.io/api/v4/projects/3850/events","members":"https://source.golabs.io/api/v4/projects/3850/members"},"archived":false,"visibility":"internal","owner":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1020,"namespace":{"id":1183,"name":"archit.j.aux","path":"archit.j.aux","kind":"user","full_path":"archit.j.aux","parent_id":null},"import_status":"none","import_error":null,"open_issues_count":0,"runners_token":"jAsV_gU1MhUrVrZs6QyS","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","statistics":{"commit_count":14,"storage_size":469016,"repository_size":304087,"lfs_objects_size":0,"job_artifacts_size":176684},"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'
  recorded_at: Wed, 13 Jun 2018 09:10:14 GMT
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/pipelines?per_page=5&private_token=hsxHUDx6k_t6P_5isK5t&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"80662b7cf4f15db72cfeeeca3f0030c9"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=2&per_page=5&private_token=hsxHUDx6k_t6P_5isK5t&ref=master&sort=desc>;
        rel="next", <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=1&per_page=5&private_token=hsxHUDx6k_t6P_5isK5t&ref=master&sort=desc>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=3&per_page=5&private_token=hsxHUDx6k_t6P_5isK5t&ref=master&sort=desc>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '5'
      X-Prev-Page:
      - ''
      X-Total:
      - '14'
      X-Total-Pages:
      - '3'
    body:
      encoding: UTF-8
      string: '[{"id":213350,"sha":"ed62398d217afa7767e488ae36ce3356f39ed531","ref":"master","status":"success"},{"id":213338,"sha":"c05f9e9b8ed24ac1face4844c67aac8b04e13bf4","ref":"master","status":"canceled"},{"id":213329,"sha":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","ref":"master","status":"success"},{"id":213326,"sha":"ae8617d17cada11e99e8bc31489ea1c467c16161","ref":"master","status":"success"},{"id":213315,"sha":"2940844b59cff959818aee6a07ca029432c0b6ca","ref":"master","status":"success"}]'
  recorded_at: Wed, 13 Jun 2018 09:10:14 GMT
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/pipelines/213350/jobs?private_token=hsxHUDx6k_t6P_5isK5t
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0aadb7d23f49cb65c82e60891f8ee1ff"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/pipelines/213350/jobs?id=3850&page=1&per_page=20&pipeline_id=213350&private_token=hsxHUDx6k_t6P_5isK5t>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/pipelines/213350/jobs?id=3850&page=1&per_page=20&pipeline_id=213350&private_token=hsxHUDx6k_t6P_5isK5t>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":1340737,"status":"success","stage":"test","name":"rspec","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-13T06:41:30.475Z","started_at":"2018-06-13T06:41:31.709Z","finished_at":"2018-06-13T06:42:01.637Z","duration":29.928454,"user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created_at":"2018-05-31T13:37:45.974Z","bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"ed62398d217afa7767e488ae36ce3356f39ed531","short_id":"ed62398d","title":"Add
        when: manual in deploy stage in .gitlab-ci.yml","created_at":"2018-06-13T06:41:30.000Z","parent_ids":["c05f9e9b8ed24ac1face4844c67aac8b04e13bf4"],"message":"Add
        when: manual in deploy stage in .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-13T06:41:30.000Z","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-13T06:41:30.000Z"},"pipeline":{"id":213350,"sha":"ed62398d217afa7767e488ae36ce3356f39ed531","ref":"master","status":"success"},"runner":{"id":2473,"description":"i-gitlab-docker-runner-nw31","active":true,"is_shared":true,"name":"gitlab-runner","online":true,"status":"online"}},{"id":1340738,"status":"manual","stage":"deploy","name":"deploy_staging","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-13T06:41:30.517Z","started_at":null,"finished_at":null,"duration":null,"user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created_at":"2018-0[...]
[...]
