---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/repository/commits/be202954?private_token=GHARXCqGY3jfRxZkj1b_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"112f18b4052ed65d005670d943ef70fe"
    body:
      encoding: UTF-8
      string: '{"id":"be20295473cd40cdbee7d2c3f21a2f734a1343a6","short_id":"be202954","title":"Replace
        hyphen with colon in README.md","created_at":"2018-06-18T11:43:23.000+00:00","parent_ids":["ed62398d217afa7767e488ae36ce3356f39ed531"],"message":"Replace
        hyphen with colon in README.md","author_name":"Archit Joshi","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-18T11:43:23.000+00:00","committer_name":"Archit
        Joshi","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-18T11:43:23.000+00:00","stats":{"additions":1,"deletions":1,"total":2},"status":"success","last_pipeline":{"id":215700,"sha":"be20295473cd40cdbee7d2c3f21a2f734a1343a6","ref":"master","status":"success"},"project_id":3850}'
  recorded_at: Mon, 25 Jun 2018 05:43:25 GMT
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/pipelines/215700/jobs?per_page=100&private_token=GHARXCqGY3jfRxZkj1b_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d7e35a9eca62c39578fabab33204d24e"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/pipelines/215700/jobs?id=3850&page=1&per_page=100&pipeline_id=215700&private_token=GHARXCqGY3jfRxZkj1b_>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/pipelines/215700/jobs?id=3850&page=1&per_page=100&pipeline_id=215700&private_token=GHARXCqGY3jfRxZkj1b_>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '100'
      X-Prev-Page:
      - ''
      X-Total:
      - '4'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":1354964,"status":"success","stage":"test","name":"rspec","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-18T11:43:24.072Z","started_at":"2018-06-18T11:43:25.853Z","finished_at":"2018-06-18T11:44:20.034Z","duration":54.18032,"user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created_at":"2018-05-31T13:37:45.974Z","bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"be20295473cd40cdbee7d2c3f21a2f734a1343a6","short_id":"be202954","title":"Replace
        hyphen with colon in README.md","created_at":"2018-06-18T11:43:23.000Z","parent_ids":["ed62398d217afa7767e488ae36ce3356f39ed531"],"message":"Replace
        hyphen with colon in README.md","author_name":"Archit Joshi","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-18T11:43:23.000Z","committer_name":"Archit
        Joshi","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-18T11:43:23.000Z"},"pipeline":{"id":215700,"sha":"be20295473cd40cdbee7d2c3f21a2f734a1343a6","ref":"master","status":"success"},"runner":{"id":2494,"description":"i-gitlab-docker-runner-n0dq","active":true,"is_shared":true,"name":"gitlab-runner","online":true,"status":"online"}},{"id":1354965,"status":"success","stage":"deploy","name":"deploy_staging","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-18T11:43:24.185Z","started_at":"2018-06-18T11:46:49.870Z","finished_at":"2018-06-18T11:47:17.421Z","duration":27.550201,"user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://s[...]
- request:
    method: post
    uri: https://hooks.slack.com/services/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
    body:
      encoding: US-ASCII
      string: payload=%7B%22channel%22%3A%22%23test_new%22%2C%22username%22%3A%22go-deploy%22%2C%22text%22%3A%22Deploying+%23commit%22%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ahge
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Mon, 25 Jun 2018 05:43:25 GMT
recorded_with: VCR 4.0.0
