---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/394?private_token=8Ai_yXWf3w7kz-kD_s9t&statistics=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b9d7d89c79ae728c13b85a31e8302697"
    body:
      encoding: UTF-8
      string: '{"id":394,"description":null,"name":"ops_portal","name_with_namespace":"gopay
        / ops_portal","path":"ops_portal","path_with_namespace":"gopay/ops_portal","created_at":"2017-01-16T19:00:30.756Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@source.golabs.io:gopay/ops_portal.git","http_url_to_repo":"https://source.golabs.io/gopay/ops_portal.git","web_url":"https://source.golabs.io/gopay/ops_portal","avatar_url":null,"star_count":1,"forks_count":0,"last_activity_at":"2018-06-15T09:14:40.321Z","_links":{"self":"https://source.golabs.io/api/v4/projects/394","issues":"https://source.golabs.io/api/v4/projects/394/issues","merge_requests":"https://source.golabs.io/api/v4/projects/394/merge_requests","repo_branches":"https://source.golabs.io/api/v4/projects/394/repository/branches","labels":"https://source.golabs.io/api/v4/projects/394/labels","events":"https://source.golabs.io/api/v4/projects/394/events","members":"https://source.golabs.io/api/v4/projects/394/members"},"archived":false,"visibility":"internal","resolve_outdated_diff_discussions":null,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":false,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":18,"namespace":{"id":215,"name":"gopay","path":"gopay","kind":"group","full_path":"gopay","parent_id":null},"import_status":"finished","open_issues_count":0,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[{"group_id":569,"group_name":"gopay-portal-josh","group_access_level":30}],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","statistics":{"commit_count":1249,"storage_size":4167999496,"repository_size":5798625,"lfs_objects_size":0,"job_artifacts_size":4162200871},"permissions":{"project_access":null,"group_access":null}}'
  recorded_at: Fri, 15 Jun 2018 09:28:32 GMT
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=8Ai_yXWf3w7kz-kD_s9t
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"45b1f26b5134c5769fcceb71b14dd023"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=8Ai_yXWf3w7kz-kD_s9t&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=8Ai_yXWf3w7kz-kD_s9t&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=51&per_page=20&private_token=8Ai_yXWf3w7kz-kD_s9t&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1008'
      X-Total-Pages:
      - '51'
    body:
      encoding: UTF-8
      string: '[{"id":1042,"name":"mayank.j.aux","username":"mayank.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/130ef9481910b8fbd54d061aca58bd25?s=80\u0026d=identicon","web_url":"https://source.golabs.io/mayank.j.aux"},{"id":1041,"name":"kashyap.k","username":"kashyap.k","state":"active","avatar_url":"https://secure.gravatar.com/avatar/657939eb7b23ae76b54ca8fcb04cb597?s=80\u0026d=identicon","web_url":"https://source.golabs.io/kashyap.k"},{"id":1040,"name":"kashif.khan","username":"kashif.khan","state":"active","avatar_url":"https://secure.gravatar.[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/394/deployments?private_token=8Ai_yXWf3w7kz-kD_s9t&sort=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"403 Forbidden"}'
  recorded_at: Fri, 15 Jun 2018 09:28:33 GMT
recorded_with: VCR 4.0.0
