---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=hsxHUDx6k_t6P_5isK5t
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f67ef60e613fbf0cbef2fd17dd9e79f7"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=51&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1007'
      X-Total-Pages:
      - '51'
    body:
      encoding: UTF-8
      string: '[{"id":1041,"name":"kashyap.k","username":"kashyap.k","state":"active","avatar_url":"https://secure.gravatar.com/avatar/657939eb7b23ae76b54ca8fcb04cb597?s=80\u0026d=identicon","web_url":"https://source.golabs.io/kashyap.k"},{"id":1040,"name":"kashif.khan","username":"kashif.khan","state":"active","avatar_url":"https://secure.gravatar.com/avatar/dd10994651237ccfc564817e718dfc60?s=80\u0026d=identicon","web_url":"https://source.golabs.io/kashif.khan"},{"id":1039,"name":"gunjan.dewan","username":"gunjan.dewan","state":"active","avatar_url":"https://secure.gravatar.com/avatar/2512136b37be09f1bc7c011661e35c88?s=80\u0026d=identicon","web_url":"https://source.golabs.io/gunjan.dewan"},{[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/deployments?private_token=hsxHUDx6k_t6P_5isK5t&sort=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"61769e254f50ed734c457ba1fb8c0e2e"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/deployments?id=3850&order_by=id&page=1&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&sort=desc>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/deployments?id=3850&order_by=id&page=1&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '6'
      X-Total-Pages:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":91282,"iid":6,"ref":"master","sha":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","created_at":"2018-06-13T06:19:45.569Z","user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux"},"environment":{"id":1549,"name":"production","slug":"production","external_url":null},"deployable":{"id":1340608,"status":"success","stage":"deploy","name":"prod","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-13T06:18:35.544Z","started_at":"2018-06-13T06:19:17.191Z","finished_at":"2018-06-13T06:19:45.395Z","duration":28.203578,"user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created_at":"2018-05-31T13:37:45.974Z","bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","short_id":"8d78d8b0","title":"Reformated
        calculator_spec.rb","created_at":"2018-06-13T06:18:35.000Z","parent_ids":["ae8617d17cada11e99e8bc31489ea1c467c16161"],"message":"Reformated
        calculator_spec.rb","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-13T06:18:35.000Z","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-13T06:18:35.000Z"},"pipeline":{"id":213329,"sha":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","ref":"master","status":"success"},"runner":null}},{"id":91281,"iid":5,"ref":"master","sha":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","created_at":"2018-06-13T06:19:43.976Z","user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux"},"environment":{"id":1548,"name":"staging","slug":"staging","external_url":null},"deployable":{"id":1340607,"status":"succe[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/repository/commits?private_token=hsxHUDx6k_t6P_5isK5t&since=2018-06-13T06:18:35Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8fd63387101dedc6257555d57546cf27"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/repository/commits?id=3850&page=1&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&since=2018-06-13T06%3A18%3A35%2B00%3A00>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/repository/commits?id=3850&page=1&per_page=20&private_token=hsxHUDx6k_t6P_5isK5t&since=2018-06-13T06%3A18%3A35%2B00%3A00>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":"ed62398d217afa7767e488ae36ce3356f39ed531","short_id":"ed62398d","title":"Add
        when: manual in deploy stage in .gitlab-ci.yml","created_at":"2018-06-13T06:41:30.000+00:00","parent_ids":["c05f9e9b8ed24ac1face4844c67aac8b04e13bf4"],"message":"Add
        when: manual in deploy stage in .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-13T06:41:30.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-13T06:41:30.000+00:00"},{"id":"c05f9e9b8ed24ac1face4844c67aac8b04e13bf4","short_id":"c05f9e9b","title":"Update
        README.md","created_at":"2018-06-13T06:21:19.000+00:00","parent_ids":["8d78d8b0ee848a2b04318f9b075c3ea7f835d171"],"message":"Update
        README.md","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-13T06:21:19.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-13T06:21:19.000+00:00"},{"id":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","short_id":"8d78d8b0","title":"Reformated
        calculator_spec.rb","created_at":"2018-06-13T06:18:35.000+00:00","parent_ids":["ae8617d17cada11e99e8bc31489ea1c467c16161"],"message":"Reformated
        calculator_spec.rb","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-13T06:18:35.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-13T06:18:35.000+00:00"}]'
  recorded_at: Wed, 13 Jun 2018 10:31:37 GMT
recorded_with: VCR 4.0.0
