---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=GeP9zqTKCWDS7aiaVUjj&username=ritik.v.aux
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b591ad44db35c144680c50b6eb2be06"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=GeP9zqTKCWDS7aiaVUjj&username=ritik.v.aux&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=GeP9zqTKCWDS7aiaVUjj&username=ritik.v.aux&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":1022,"name":"Ritik Verma","username":"ritik.v.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e28fafbbe3c5bc839318e09f489a0587?s=80\u0026d=identicon","web_url":"https://source.golabs.io/ritik.v.aux"}]'
  recorded_at: Wed, 06 Jun 2018 15:16:49 GMT
recorded_with: VCR 4.0.0
