---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=SpFM_1tetqXNjmQWvSZp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c94e9dfca2aac3e9ba5621c577bd940f"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=51&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1003'
      X-Total-Pages:
      - '51'
    body:
      encoding: UTF-8
      string: '[{"id":1037,"name":"Karuppiah","username":"karuppiah7890","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0856951761e1108b3dcb735c98d1e70c?s=80\u0026d=identicon","web_url":"https://source.golabs.io/karuppiah7890"},{"id":1036,"name":"indrajati","username":"indrajati","state":"active","avatar_url":"https://secure.gravatar.com/avatar/28361b130118098a4a59dea00bfd893d?s=80\u0026d=identicon","web_url":"https://source.golabs.io/indrajati"},{"id":1035,"name":"vipul.nair","username":"vipul.nair","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ae5ede5d992fab1abc02d20685086fc5?s=80\u0026d=identicon","web_url":"https://source.golabs.io/vipul.nair"},{"id":103[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850?private_token=SpFM_1tetqXNjmQWvSZp&statistics=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"42c7bf7717233b3e2adf97967e9c2c11"
    body:
      encoding: UTF-8
      string: '{"id":3850,"description":"This is my awesome calculator.","name":"CalculatorProject","name_with_namespace":"archit.j.aux
        / CalculatorProject","path":"CalculatorProject","path_with_namespace":"archit.j.aux/CalculatorProject","created_at":"2018-06-01T06:04:27.249Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@source.golabs.io:archit.j.aux/CalculatorProject.git","http_url_to_repo":"https://source.golabs.io/archit.j.aux/CalculatorProject.git","web_url":"https://source.golabs.io/archit.j.aux/CalculatorProject","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2018-06-08T12:09:16.808Z","_links":{"self":"https://source.golabs.io/api/v4/projects/3850","issues":"https://source.golabs.io/api/v4/projects/3850/issues","merge_requests":"https://source.golabs.io/api/v4/projects/3850/merge_requests","repo_branches":"https://source.golabs.io/api/v4/projects/3850/repository/branches","labels":"https://source.golabs.io/api/v4/projects/3850/labels","events":"https://source.golabs.io/api/v4/projects/3850/events","members":"https://source.golabs.io/api/v4/projects/3850/members"},"archived":false,"visibility":"internal","owner":{"id":1020,"name":"archit.j.aux","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1020,"namespace":{"id":1183,"name":"archit.j.aux","path":"archit.j.aux","kind":"user","full_path":"archit.j.aux","parent_id":null},"import_status":"none","import_error":null,"open_issues_count":0,"runners_token":"jAsV_gU1MhUrVrZs6QyS","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","statistics":{"commit_count":6,"storage_size":439216,"repository_size":398458,"lfs_objects_size":0,"job_artifacts_size":93775},"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'
  recorded_at: Mon, 11 Jun 2018 08:36:54 GMT
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/pipelines?per_page=5&private_token=SpFM_1tetqXNjmQWvSZp&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28cd74bf1661fae94c81a7596101ff99"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=2&per_page=5&private_token=SpFM_1tetqXNjmQWvSZp&ref=master&sort=desc>;
        rel="next", <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=1&per_page=5&private_token=SpFM_1tetqXNjmQWvSZp&ref=master&sort=desc>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/pipelines?id=3850&order_by=id&page=2&per_page=5&private_token=SpFM_1tetqXNjmQWvSZp&ref=master&sort=desc>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '5'
      X-Prev-Page:
      - ''
      X-Total:
      - '8'
      X-Total-Pages:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"id":210972,"sha":"95158f8e7da1c17ba1989cad3ca22dc4c4b21920","ref":"master","status":"success"},{"id":210966,"sha":"21cd48b5a2f72bbc3bb6b5f93d7b66012f4c45d5","ref":"master","status":"success"},{"id":210964,"sha":"0167e10f88271c1ff82d2d25d93c7c446f3cb469","ref":"master","status":"success"},{"id":209671,"sha":"07038cd57dd6acdf5d3693c3aba347089160f65a","ref":"master","status":"success"},{"id":209654,"sha":"116c146766436681ab6d7f5d4c2876d0b7988a9c","ref":"master","status":"success"}]'
  recorded_at: Mon, 11 Jun 2018 08:36:55 GMT
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/pipelines/210972/jobs?private_token=SpFM_1tetqXNjmQWvSZp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d3934d23cb60109c793e7acb1b9a1a76"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/pipelines/210972/jobs?id=3850&page=1&per_page=20&pipeline_id=210972&private_token=SpFM_1tetqXNjmQWvSZp>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/pipelines/210972/jobs?id=3850&page=1&per_page=20&pipeline_id=210972&private_token=SpFM_1tetqXNjmQWvSZp>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '3'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":1328119,"status":"success","stage":"test","name":"rspec","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-08T12:12:43.103Z","started_at":"2018-06-08T12:12:43.505Z","finished_at":"2018-06-08T12:13:18.466Z","duration":34.961803,"user":{"id":1020,"name":"archit.j.aux","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created_at":"2018-05-31T13:37:45.974Z","bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"95158f8e7da1c17ba1989cad3ca22dc4c4b21920","short_id":"95158f8e","title":"Included
        some lines in README.md","created_at":"2018-06-08T12:12:42.000Z","parent_ids":["21cd48b5a2f72bbc3bb6b5f93d7b66012f4c45d5"],"message":"Included
        some lines in README.md","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-08T12:12:42.000Z","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-08T12:12:42.000Z"},"pipeline":{"id":210972,"sha":"95158f8e7da1c17ba1989cad3ca22dc4c4b21920","ref":"master","status":"success"},"runner":null},{"id":1328120,"status":"success","stage":"deploy","name":"staging","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-08T12:12:43.117Z","started_at":"2018-06-08T12:13:19.394Z","finished_at":"2018-06-08T12:14:00.618Z","duration":41.224348,"user":{"id":1020,"name":"archit.j.aux","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","cre[...]
[...]
