---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850?private_token=_YDN1qs7zMVVuCayWYpm&statistics=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d1e55748eff64bebacb7961483a818e5"
    body:
      encoding: UTF-8
      string: '{"id":3850,"description":"This is my awesome calculator.","name":"CalculatorProject","name_with_namespace":"archit.j.aux
        / CalculatorProject","path":"CalculatorProject","path_with_namespace":"archit.j.aux/CalculatorProject","created_at":"2018-06-01T06:04:27.249Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@source.golabs.io:archit.j.aux/CalculatorProject.git","http_url_to_repo":"https://source.golabs.io/archit.j.aux/CalculatorProject.git","web_url":"https://source.golabs.io/archit.j.aux/CalculatorProject","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2018-06-13T06:07:21.905Z","_links":{"self":"https://source.golabs.io/api/v4/projects/3850","issues":"https://source.golabs.io/api/v4/projects/3850/issues","merge_requests":"https://source.golabs.io/api/v4/projects/3850/merge_requests","repo_branches":"https://source.golabs.io/api/v4/projects/3850/repository/branches","labels":"https://source.golabs.io/api/v4/projects/3850/labels","events":"https://source.golabs.io/api/v4/projects/3850/events","members":"https://source.golabs.io/api/v4/projects/3850/members"},"archived":false,"visibility":"internal","owner":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1020,"namespace":{"id":1183,"name":"archit.j.aux","path":"archit.j.aux","kind":"user","full_path":"archit.j.aux","parent_id":null},"import_status":"none","import_error":null,"open_issues_count":0,"runners_token":"jAsV_gU1MhUrVrZs6QyS","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","statistics":{"commit_count":14,"storage_size":469016,"repository_size":304087,"lfs_objects_size":0,"job_artifacts_size":176684},"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'
  recorded_at: Fri, 15 Jun 2018 14:50:30 GMT
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=_YDN1qs7zMVVuCayWYpm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"45b1f26b5134c5769fcceb71b14dd023"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=_YDN1qs7zMVVuCayWYpm&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=_YDN1qs7zMVVuCayWYpm&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=51&per_page=20&private_token=_YDN1qs7zMVVuCayWYpm&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1008'
      X-Total-Pages:
      - '51'
    body:
      encoding: UTF-8
      string: '[{"id":1042,"name":"mayank.j.aux","username":"mayank.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/130ef9481910b8fbd54d061aca58bd25?s=80\u0026d=identicon","web_url":"https://source.golabs.io/mayank.j.aux"},{"id":1041,"name":"kashyap.k","username":"kashyap.k","state":"active","avatar_url":"https://secure.gravatar.com/avatar/657939eb7b23ae76b54ca8fcb04cb597?s=80\u0026d=identicon","web_url":"https://source.golab[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/deployments?private_token=_YDN1qs7zMVVuCayWYpm&sort=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0f6846b7c00c2f5bc69ac630cfe96707"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/deployments?id=3850&order_by=id&page=1&per_page=20&private_token=_YDN1qs7zMVVuCayWYpm&sort=desc>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/deployments?id=3850&order_by=id&page=1&per_page=20&private_token=_YDN1qs7zMVVuCayWYpm&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '6'
      X-Total-Pages:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":91282,"iid":6,"ref":"master","sha":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","created_at":"2018-06-13T06:19:45.569Z","user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux"},"environment":{"id":1549,"name":"production","slug":"production","external_url":null},"deployable":{"id":1340608,"status":"success","stage":"deploy","name":"prod","ref":"master","tag":false,"coverage":null,"created_at":"2018-06-13T06:18:35.544Z","started_at":"2018-06-13T06:19:17.191Z","finished_at":"2018-06-13T06:19:45.395Z","duration":28.203578,"user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux","created_at":"2018-05-31T13:37:45.974Z","bio":"","location":"","skype":"","linkedin":"","twitter":"","website_url":"","organization":""},"commit":{"id":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","short_id":"8d78d8b0","title":"Reformated
        calculator_spec.rb","created_at":"2018-06-13T06:18:35.000Z","parent_ids":["ae8617d17cada11e99e8bc31489ea1c467c16161"],"message":"Reformated
        calculator_spec.rb","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-13T06:18:35.000Z","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-13T06:18:35.000Z"},"pipeline":{"id":213329,"sha":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","ref":"master","status":"success"},"runner":null}},{"id":91281,"iid":5,"ref":"master","sha":"8d78d8b0ee848a2b04318f9b075c3ea7f835d171","created_at":"2018-06-13T06:19:43.976Z","user":{"id":1020,"name":"Archit
        Joshi","username":"archit.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3ee03adec0436a369bb7c435c13a4663?s=80\u0026d=identicon","web_url":"https://source.golabs.io/archit.j.aux"},"environment":{"id":1548,"name":"staging","slug":"staging","external_url":null},"deployable":{"id":1340607,"status":"succe[...]
