---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=SpFM_1tetqXNjmQWvSZp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c94e9dfca2aac3e9ba5621c577bd940f"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=51&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1003'
      X-Total-Pages:
      - '51'
    body:
      encoding: UTF-8
      string: '[{"id":1037,"name":"Karuppiah","username":"karuppiah7890","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0856951761e1108b3dcb735c98d1e70c?s=80\u0026d=identicon","web_url":"https://source.golabs.io/karuppiah7890"},{"id":1036,"name":"indrajati","username":"indrajati","state":"active","avatar_url":"https://secure.gravatar.com/avatar/28361b130118098a4a59dea00bfd893d?s=80\u0026d=identicon","web_url":"https://source.golabs.io/indrajati"},{"id":1035,"name":"vipul.nair","username":"vipul.nair","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ae5ede5d992fab1abc02d20685086fc5?s=80\u0026d=identicon","web_url":"https://source.golabs.io/vipul.nair"},{"id":103[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/repository/commits?private_token=SpFM_1tetqXNjmQWvSZp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb1641fc0ea8a7821080c1d80d1e3472"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/repository/commits?id=3850&page=1&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/repository/commits?id=3850&page=1&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '8'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":"95158f8e7da1c17ba1989cad3ca22dc4c4b21920","short_id":"95158f8e","title":"Included
        some lines in README.md","created_at":"2018-06-08T12:12:42.000+00:00","parent_ids":["21cd48b5a2f72bbc3bb6b5f93d7b66012f4c45d5"],"message":"Included
        some lines in README.md","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-08T12:12:42.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-08T12:12:42.000+00:00"},{"id":"21cd48b5a2f72bbc3bb6b5f93d7b66012f4c45d5","short_id":"21cd48b5","title":"Update
        router.rb","created_at":"2018-06-08T12:09:45.000+00:00","parent_ids":["0167e10f88271c1ff82d2d25d93c7c446f3cb469"],"message":"Update
        router.rb","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-08T12:09:45.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-0[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/repository/compare?from=e2c071b8&private_token=SpFM_1tetqXNjmQWvSZp&to=56fe362d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5eebdabca5b7b5f0cdfd263437fc687"
    body:
      encoding: UTF-8
      string: '{"commit":{"id":"56fe362d3932d91d8af19e4ce1883616c2cd122e","short_id":"56fe362d","title":"Add
        .gitlab-ci.yml","created_at":"2018-06-01T06:08:36.000+00:00","parent_ids":["e2c071b8227dc2924e7768c72b88ddba8df93749"],"message":"Add
        .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-01T06:08:36.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-01T06:08:36.000+00:00"},"commits":[{"id":"56fe362d3932d91d8af19e4ce1883616c2cd122e","short_id":"56fe362d","title":"Add
        .gitlab-ci.yml","created_at":"2018-06-01T06:08:36.000+00:00","parent_ids":["e2c071b8227dc2924e7768c72b88ddba8df93749"],"message":"Add
        .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-01T06:08:36.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-01T06:08:36.000+00:00"}],"diffs":[{"old_path":".gitlab-ci.yml","new_path":".gitlab-ci.yml","a_mode":"0","b_mode":"100644","new_file":true,"renamed_file":false,"deleted_file":false,"diff":"---
        /dev/null\n+++ b/.gitlab-ci.yml\n@@ -0,0 +1,11 @@\n+before_script:\n+  - apt-get
        update -qq \u0026\u0026 apt-get install -y -qq sqlite3 libsqlite3-dev nodejs\n+  -
        ruby -v\n+  - which ruby\n+  - gem install bundler --no-ri --no-rdoc\n+  -
        bundle install --jobs $(nproc)  \"${FLAGS[@]}\"\n+\n+rspec:\n+  script:\n+    -
        bundle exec rspec\n+\n"}],"compare_timeout":false,"compare_same_ref":false}'
  recorded_at: Mon, 11 Jun 2018 04:44:21 GMT
recorded_with: VCR 4.0.0
