---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3852?private_token=8Ai_yXWf3w7kz-kD_s9t&statistics=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76c64f3228830071e6ac8cd100e291a8"
    body:
      encoding: UTF-8
      string: '{"id":3852,"description":"","name":"p1","name_with_namespace":"prakash
        / p1","path":"p1","path_with_namespace":"prakash.d.aux/p1","created_at":"2018-06-01T08:05:23.132Z","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@source.golabs.io:prakash.d.aux/p1.git","http_url_to_repo":"https://source.golabs.io/prakash.d.aux/p1.git","web_url":"https://source.golabs.io/prakash.d.aux/p1","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2018-06-01T08:05:23.132Z","_links":{"self":"https://source.golabs.io/api/v4/projects/3852","issues":"https://source.golabs.io/api/v4/projects/3852/issues","merge_requests":"https://source.golabs.io/api/v4/projects/3852/merge_requests","repo_branches":"https://source.golabs.io/api/v4/projects/3852/repository/branches","labels":"https://source.golabs.io/api/v4/projects/3852/labels","events":"https://source.golabs.io/api/v4/projects/3852/events","members":"https://source.golabs.io/api/v4/projects/3852/members"},"archived":false,"visibility":"internal","owner":{"id":1021,"name":"prakash","username":"prakash.d.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/abac243343ef83dcb445c45d2c6c3cc2?s=80\u0026d=identicon","web_url":"https://source.golabs.io/prakash.d.aux"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1021,"namespace":{"id":1184,"name":"prakash.d.aux","path":"prakash.d.aux","kind":"user","full_path":"prakash.d.aux","parent_id":null},"import_status":"none","import_error":null,"open_issues_count":0,"runners_token":"W4Wv6Z-NRbLE7ZsLm93L","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","statistics":{"commit_count":1,"storage_size":83886,"repository_size":83886,"lfs_objects_size":0,"job_artifacts_size":0},"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'
  recorded_at: Fri, 15 Jun 2018 08:00:43 GMT
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=8Ai_yXWf3w7kz-kD_s9t
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"45b1f26b5134c5769fcceb71b14dd023"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=8Ai_yXWf3w7kz-kD_s9t&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=8Ai_yXWf3w7kz-kD_s9t&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=51&per_page=20&private_token=8Ai_yXWf3w7kz-kD_s9t&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1008'
      X-Total-Pages:
      - '51'
    body:
      encoding: UTF-8
      string: '[{"id":1042,"name":"mayank.j.aux","username":"mayank.j.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/130ef9481910b8fbd54d061aca58bd25?s=80\u0026d=identicon","web_url":"https://source.golabs.io/mayank.j.aux"},{"id":1041,"name":"kashyap.k","username":"kashyap.k","state":"active","avatar_url":"https://secure.gravatar.com/avatar/657939eb7b23ae76b54ca8fcb04cb597?s=80\u0026d=identicon","web_url":"https://source.golab[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3852/deployments?per_page=100&private_token=8Ai_yXWf3w7kz-kD_s9t&sort=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://source.golabs.io/api/v4/projects/3852/deployments?id=3852&order_by=id&page=1&per_page=20&private_token=8Ai_yXWf3w7kz-kD_s9t&sort=desc>;
        rel="first", <https://source.golabs.io/api/v4/projects/3852/deployments?id=3852&order_by=id&page=1&per_page=20&private_token=8Ai_yXWf3w7kz-kD_s9t&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 15 Jun 2018 08:00:44 GMT
recorded_with: VCR 4.0.0
