---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/repository/commits?private_token=SpFM_1tetqXNjmQWvSZp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"20b4e7a0168b9ec8e91dcc9017f3bed0"
      Link:
      - <https://source.golabs.io/api/v4/projects/3850/repository/commits?id=3850&page=1&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp>;
        rel="first", <https://source.golabs.io/api/v4/projects/3850/repository/commits?id=3850&page=1&per_page=20&private_token=SpFM_1tetqXNjmQWvSZp>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '5'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":"07038cd57dd6acdf5d3693c3aba347089160f65a","short_id":"07038cd5","title":"Modify
        .gitlab-ci.yml","created_at":"2018-06-07T05:22:05.000+00:00","parent_ids":["116c146766436681ab6d7f5d4c2876d0b7988a9c"],"message":"Modify
        .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-07T05:22:05.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-07T05:22:05.000+00:00"},{"id":"116c146766436681ab6d7f5d4c2876d0b7988a9c","short_id":"116c1467","title":"Modify
        .gitlab-ci.yml","created_at":"2018-06-07T05:05:30.000+00:00","parent_ids":["7771c0a1756ab828d5e0e1c3f94b47b4212e1087"],"message":"Modify
        .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-07T05:05:30.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3850/repository/compare?from=e2c071b8&private_token=SpFM_1tetqXNjmQWvSZp&to=56fe362d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5eebdabca5b7b5f0cdfd263437fc687"
    body:
      encoding: UTF-8
      string: '{"commit":{"id":"56fe362d3932d91d8af19e4ce1883616c2cd122e","short_id":"56fe362d","title":"Add
        .gitlab-ci.yml","created_at":"2018-06-01T06:08:36.000+00:00","parent_ids":["e2c071b8227dc2924e7768c72b88ddba8df93749"],"message":"Add
        .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-01T06:08:36.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-01T06:08:36.000+00:00"},"commits":[{"id":"56fe362d3932d91d8af19e4ce1883616c2cd122e","short_id":"56fe362d","title":"Add
        .gitlab-ci.yml","created_at":"2018-06-01T06:08:36.000+00:00","parent_ids":["e2c071b8227dc2924e7768c72b88ddba8df93749"],"message":"Add
        .gitlab-ci.yml","author_name":"archit.j.aux","author_email":"archit.j.aux@go-jek.com","authored_date":"2018-06-01T06:08:36.000+00:00","committer_name":"archit.j.aux","committer_email":"archit.j.aux@go-jek.com","committed_date":"2018-06-01T06:08:36.000+00:00"}],"diffs":[{"old_path":".gitlab-ci.yml","new_path":".gitlab-ci.yml","a_mode":"0","b_mode":"100644","new_file":true,"renamed_file":false,"deleted_file":false,"diff":"---
        /dev/null\n+++ b/.gitlab-ci.yml\n@@ -0,0 +1,11 @@\n+before_script:\n+  - apt-get
        update -qq \u0026\u0026 apt-get install -y -qq sqlite3 libsqlite3-dev nodejs\n+  -
        ruby -v\n+  - which ruby\n+  - gem install bundler --no-ri --no-rdoc\n+  -
        bundle install --jobs $(nproc)  \"${FLAGS[@]}\"\n+\n+rspec:\n+  script:\n+    -
        bundle exec rspec\n+\n"}],"compare_timeout":false,"compare_same_ref":false}'
  recorded_at: Fri, 08 Jun 2018 11:40:46 GMT
recorded_with: VCR 4.0.0
