---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=2zs_9Eu2PyH2z822Vg4a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c94e9dfca2aac3e9ba5621c577bd940f"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=2zs_9Eu2PyH2z822Vg4a&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=2zs_9Eu2PyH2z822Vg4a&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=51&per_page=20&private_token=2zs_9Eu2PyH2z822Vg4a&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1003'
      X-Total-Pages:
      - '51'
    body:
      encoding: UTF-8
      string: '[{"id":1037,"name":"Karuppiah","username":"karuppiah7890","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0856951761e1108b3dcb735c98d1e70c?s=80\u0026d=identicon","web_url":"https://source.golabs.io/karuppiah7890"},{"id":1036,"name":"indrajati","username":"indrajati","state":"active","avatar_url":"https://secure.gravatar.com/avatar/28361b130118098a4a59dea00bfd893d?s=80\u0026d=identicon","web_url":"https://source.golabs.io/indrajati"},{"id":1035,"name":"vipul.nair","username":"vipul.nair","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ae5ede5d992fab1abc02d20685086fc5?s=80\u0026d=identicon","web_url":"https://source.golabs.io/vipul.nair"},{"id":103[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3892?private_token=2zs_9Eu2PyH2z822Vg4a&statistics=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"09aa0a47d0cd574d4fc5c9038374a70b"
    body:
      encoding: UTF-8
      string: '{"id":3892,"description":"This is a blank project","name":"blank","name_with_namespace":"Ritik
        Verma / blank","path":"blank","path_with_namespace":"ritik.v.aux/blank","created_at":"2018-06-05T13:41:57.781Z","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@source.golabs.io:ritik.v.aux/blank.git","http_url_to_repo":"https://source.golabs.io/ritik.v.aux/blank.git","web_url":"https://source.golabs.io/ritik.v.aux/blank","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2018-06-05T13:41:57.781Z","_links":{"self":"https://source.golabs.io/api/v4/projects/3892","issues":"https://source.golabs.io/api/v4/projects/3892/issues","merge_requests":"https://source.golabs.io/api/v4/projects/3892/merge_requests","repo_branches":"https://source.golabs.io/api/v4/projects/3892/repository/branches","labels":"https://source.golabs.io/api/v4/projects/3892/labels","events":"https://source.golabs.io/api/v4/projects/3892/events","members":"https://source.golabs.io/api/v4/projects/3892/members"},"archived":false,"visibility":"internal","owner":{"id":1022,"name":"Ritik
        Verma","username":"ritik.v.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e28fafbbe3c5bc839318e09f489a0587?s=80\u0026d=identicon","web_url":"https://source.golabs.io/ritik.v.aux"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1022,"namespace":{"id":1185,"name":"ritik.v.aux","path":"ritik.v.aux","kind":"user","full_path":"ritik.v.aux","parent_id":null},"import_status":"none","import_error":null,"open_issues_count":0,"runners_token":"hRvi6JxoEW_wLz3JnUqT","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"merge_method":"merge","statistics":{"commit_count":0,"storage_size":0,"repository_size":0,"lfs_objects_size":0,"job_artifacts_size":0},"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'
  recorded_at: Mon, 11 Jun 2018 04:44:27 GMT
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3892/jobs?private_token=2zs_9Eu2PyH2z822Vg4a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://source.golabs.io/api/v4/projects/3892/jobs?id=3892&page=1&per_page=20&private_token=2zs_9Eu2PyH2z822Vg4a>;
        rel="first", <https://source.golabs.io/api/v4/projects/3892/jobs?id=3892&page=1&per_page=20&private_token=2zs_9Eu2PyH2z822Vg4a>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 11 Jun 2018 04:44:27 GMT
recorded_with: VCR 4.0.0
