---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3853/repository/commits?private_token=nfwasKz7KA4PFpoexsxd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b06ef11185059846acf606d243c97698"
      Link:
      - <https://source.golabs.io/api/v4/projects/3853/repository/commits?id=3853&page=2&per_page=20&private_token=nfwasKz7KA4PFpoexsxd>;
        rel="next", <https://source.golabs.io/api/v4/projects/3853/repository/commits?id=3853&page=1&per_page=20&private_token=nfwasKz7KA4PFpoexsxd>;
        rel="first", <https://source.golabs.io/api/v4/projects/3853/repository/commits?id=3853&page=2&per_page=20&private_token=nfwasKz7KA4PFpoexsxd>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '29'
      X-Total-Pages:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"id":"108c38b5bc6db22d14c8d78b879b7fdfe5180dde","short_id":"108c38b5","title":"Update
        Gemfile","created_at":"2018-06-01T09:49:49.000+00:00","parent_ids":["e548743001e9bbbad2d1e9d3569b3eda66e6eb4f"],"message":"Update
        Gemfile","author_name":"prakash","author_email":"prakash.d.aux@go-jek.com","authored_date":"2018-06-01T09:49:49.000+00:00","committer_name":"prakash","committer_email":"prakash.d.aux@go-jek.com","committed_date":"2018-06-01T09:49:49.000+00:00"},{"id":"e548743001e9bbbad2d1e9d3569b3eda66e6eb4f","short_id":"e5487430","title":"CI
        - CD","created_at":"2018-06-01T15:14:46.000+05:30","parent_ids":["31c60f509f6c4a66faf494dd349a5fb9894832c4"],"message":"CI
        - CD\n","author_name":"prakash","author_email":"prakash.d.aux@go-jek.com","authored_date":"2018-06-01T15:14:46.000+05:30","committer_name":"prakash","committer_email":"prakash.d.aux@go-jek.com","committed_date":"2018-06-01T15:14:46.000+05:30"},{[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/projects/3853/repository/compare?from=2a0b1a6d&private_token=nfwasKz7KA4PFpoexsxd&to=e5487430
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"da987660e03cf1359590c42288b7e744"
    body:
      encoding: ASCII-8BIT
      string: '{"commit":{"id":"e548743001e9bbbad2d1e9d3569b3eda66e6eb4f","short_id":"e5487430","title":"CI
        - CD","created_at":"2018-06-01T15:14:46.000+05:30","parent_ids":["31c60f509f6c4a66faf494dd349a5fb9894832c4"],"message":"CI
        - CD\n","author_name":"prakash","author_email":"prakash.d.aux@go-jek.com","authored_date":"2018-06-01T15:14:46.000+05:30","committer_name":"prakash","committer_email":"prakash.d.aux@go-jek.com","committed_date":"2018-06-01T15:14:46.000+05:30"},"commits":[{"id":"fa4e83bcfdee4d8bf7be203b0eff47156078db05","short_id":"fa4e83bc","title":"Test
        to create a post without a title","created_at":"2018-05-23T18:58:14.000+05:30","parent_ids":["2a0b1a6df12e9c663f4bb6c6d3aaeb898af9fab5"],"message":"Test
        to create a post without a title\n","author_name":"prakashdwd","author_email":"prakash.d.aux@go-jek.com","authored_date":"2018-05-23T18:58:14.000+05:30","committer_name":"prakashdwd","committer_email":"prakash.d.aux@go-jek.com","committed_date":[...]
