---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=GeP9zqTKCWDS7aiaVUjj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"91bc9534938ad387e192eede371b1025"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=GeP9zqTKCWDS7aiaVUjj&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=GeP9zqTKCWDS7aiaVUjj&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=50&per_page=20&private_token=GeP9zqTKCWDS7aiaVUjj&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '999'
      X-Total-Pages:
      - '50'
    body:
      encoding: UTF-8
      string: '[{"id":1033,"name":"harish.nazief","username":"harish.nazief","state":"active","avatar_url":"https://secure.gravatar.com/avatar/2ba5e7a62cab528bda7869aad637ff0e?s=80\u0026d=identicon","web_url":"https://source.golabs.io/harish.nazief"},{"id":1032,"name":"almer.alana","username":"almer.alana","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3c2d2952bcb5496e780a64504c1de4fa?s=80\u0026d=identicon","web_url":"https://source.golabs.io/almer.alana"},{"id":1031,"name":"didiet.noor","username":"didiet.noor","state":"active","avatar_url":"https://source.golabs.io/uploads/-/system/user/avatar/1031/avatar.png","web_url":"https://source.golabs.io/didiet.noor"},{"id":1030,"name":"f[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=GeP9zqTKCWDS7aiaVUjj&username=ritik.v.aux
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b591ad44db35c144680c50b6eb2be06"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=GeP9zqTKCWDS7aiaVUjj&username=ritik.v.aux&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=GeP9zqTKCWDS7aiaVUjj&username=ritik.v.aux&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":1022,"name":"Ritik Verma","username":"ritik.v.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e28fafbbe3c5bc839318e09f489a0587?s=80\u0026d=identicon","web_url":"https://source.golabs.io/ritik.v.aux"}]'
  recorded_at: Wed, 06 Jun 2018 15:16:47 GMT
recorded_with: VCR 4.0.0
