---
http_interactions:
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=Dh36kW9v5J9zHVTk3syC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"68f5eeaff766e5ece442c96b6bd9f3fe"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=2&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&with_custom_attributes=false>;
        rel="next", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=52&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1021'
      X-Total-Pages:
      - '52'
    body:
      encoding: UTF-8
      string: '[{"id":1056,"name":"rizky.dwi","username":"rizky.dwi","state":"active","avatar_url":"https://secure.gravatar.com/avatar/35a4fe2dc7934fb0bae3382957f0b14e?s=80\u0026d=identicon","web_url":"https://source.golabs.io/rizky.dwi"},{"id":1055,"name":"Anirudh
        M","username":"anirudh.m.aux","state":"active","avatar_url":"https://source.golabs.io/uploads/-/system/user/avatar/1055/avatar.png","web_url":"https://source.golabs.io/anirudh.m.aux"},{"id":1054,"name":"julius.lauw","username":"julius.lauw","state":"active","avatar_url":"https://secure.gravatar.com/avatar/13eb63fbcc7bc61e21ea0e2a35e58aa2?s=80\u0026d=identicon","web_url":"https://source.golabs.io/julius.lauw"},{"id":1053,"na[...]
- request:
    method: get
    uri: https://source.golabs.io/api/v4/users?private_token=Dh36kW9v5J9zHVTk3syC&username=ritik.v.aux
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b591ad44db35c144680c50b6eb2be06"
      Link:
      - <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&username=ritik.v.aux&with_custom_attributes=false>;
        rel="first", <https://source.golabs.io/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&private_token=Dh36kW9v5J9zHVTk3syC&username=ritik.v.aux&with_custom_attributes=false>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":1022,"name":"Ritik Verma","username":"ritik.v.aux","state":"active","avatar_url":"https://secure.gravatar.com/avatar/e28fafbbe3c5bc839318e09f489a0587?s=80\u0026d=identicon","web_url":"https://source.golabs.io/ritik.v.aux"}]'
  recorded_at: Fri, 22 Jun 2018 06:33:53 GMT
- request:
    method: get
    uri: https://godeploy.atlassian.net/rest/api/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic cml0aWsudi5hdXhAZ28tamVrLmNvbTpIWTRHUEVQUTUxUWN3a3p4WlhCaDA4QUI=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=UTF-8
      X-Arequestid:
      - 1b3c1f0e-b28e-47a2-b8c3-08eabccb1b29
      X-Ausername:
      - ritik.v.aux
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"><title>Oops, you&#39;ve
        found a dead link. - JIRA</title><script type=\"text/javascript\">contextPath
        = \"\";</script><link type='text/css' rel='stylesheet' href='/static-assets/metal-all.css'
        media='all'><script src='/static-assets/metal-all.js'></script><!--[if lt
        IE 9]><link type='text/css' rel='stylesheet' href='/static-assets/metal-all-ie.css'
        media='all'><script src='/static-assets/metal-all-ie.js'></script><![endif]--><!--[if
        IE 9]><link type='text/css' rel='stylesheet' href='/static-assets/metal-all-ie9.css'
        media='all'><![endif]--><meta name=\"decorator\" content=\"none\" /></head><body
        class=\" error-page error404\"><script type=\"text/javascript\">document.body.className
        += \" js-enabled\";</script><div id=\"page\"><header id=\"header\" role=\"banner\"></header><!--
        #header --><section id=\"content\" role=\"main\"><div class=\"aui-page-panel\"><div
        class=\"aui-page-panel-inner\"><section class=\"aui-page-panel-content lowerContent\"><div
        id=\"error-state\"><span class=\"error-type\"></span><h1>Oops, you&#39;ve
        found a dead link.</h1><ul><li>Go back to the <a href=\"javascript:window.history.back()\">previous
        page</a></li><li>Go to the <a href=\"/secure/MyJiraHome.jspa\">Home Page</a></li></ul></div></section><!--
        .aui-page-panel-content --></div><!-- .aui-page-panel-inner --></div><!--
        .aui-page-panel --></section><!-- #content --><footer id=\"footer\" role=\"contentinfo\"><section
        class=\"footer-body\">\n\n\n<ul class=\"atlassian-footer\">\n    <li>\n        Atlassian
        JIRA <a class=\"seo-link\" href=\"https://www.atlassian.com/software/jira\">Project
        Management Software</a>\n\n                                    \n                        \n
        \       <span id=\"footer-build-information\">(v1001.0.0-SNAPSHOT#100087-<span
        title='2813e6b6712bfbde5d8838a93e9c10bda3573f23' data-commit-id='2813e6b6712bfbde5d8838a93e9c10bda3573f23}'>sha1:2813e6b</span>)</span>\n
        \   </li>\n    <li>\n        <a id=\"about-link\" href=\"/secure/AboutPage.jspa\">About
        JIRA</a>\n    </li>\n    <li>\n                        <a id=\"footer-report-problem-link\"
        href=\"/secure/ContactAdministrators!default.jspa\">Report a problem</a>\n
        \   </li>\n</ul>\n<div id=\"footer-logo\"><a href=\"http://www.atlassian.com/\"
        rel=\"nofollow\">Atlassian</a></div></section></footer><!-- #footer --></div><!--
        #page --></body></html>"
  recorded_at: Fri, 22 Jun 2018 06:33:55 GMT
recorded_with: VCR 4.0.0
