<h3>HOME PAGE</h3>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :PasteYourTOken %> <br />
    <%= f.text_field :gitlab_token %> <br/>
  </p>

  <p>
  <%= f.submit "Lets Go" %>
  </p>
<% end %>
