<!DOCTYPE html>
<html lang="en">
<head>
 <title>GO-Deploy</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div id="menu-nav">
  <div id="navigation-bar">
    <ul>
     <li><a href="#" style = "color: #00FF00;">Projects</a></li>
     <li><a href="#"><span>Commits</span></a></li>
     <li><a href="#"><span>Checklist</span></a></li>
     <li><a href="#"><span>Approval</span></a></li>
     <li><a href="#" ><span>Deploy</span></a></li>
   </ul>
   <ul class="timeline" id="timeline">

     <li class="li">

       <div class="timestamp">
       </div>
       <div class="status">
         <h4> Project Selected </h4>
       </div>
     </li>
     <li class="li">
       <div class="timestamp">
       </div>
       <div class="status">
         <h4> Commit Selected </h4>
       </div>
     </li>
     <li class="li">
       <div class="timestamp">
       </div>
       <div class="status">
         <h4> Checklist Filled </h4>
       </div>
     </li>
     <li class="li">
       <div class="timestamp">
       </div>
       <div class="status">
         <h4> Deploy Approved </h4>
       </div>
     </li>
    </ul>
 </div>
</div>

<div id="container">
  <div id="searchbar">
    <input type="text" id="topics" style="float:left"/><input type="hidden" id="topicID" />
    <div id="btn" style="float:left">Search</div>
  </div>
</div>

<div class="container">

   <% @projects.each do |project| %>

 <div class="row "  >
    <div class="col-xs-7 col-md-7" style="height :20px">
      <div class="row">
        <div class="col-xs-1 col-md-1"><img class=".img-fluid. max-width: 100%; height: auto;" style="margin:0px 0px" class="img-responsive" src="/assets/folderlogo.png"  width="25" height="25"></div>
        <div class="col-xs-11 col-md-11"><h3 style="margin: 0px 0px"> <%= link_to project["name"]  , users_job_path(:project_id => project["id"]) %></h3><p> <%= project["description"] %></p></div>
      </div>
    </div>
    <div class="col-xs-5 col-md-5">
        <div class="row">
          <div class="col-xs-5 col-md-5">
    <div style="margin:20px 0px"> </div></div>
      <% time = project["last_activity_at"]
        date = time %>

        <div class="col-xs-7 col-md-7"> <div >Last Updated : <%= time %></div></div>
        </div>

  </div>

</div>
<br>
<hr>
   <% end %>
</div>
<div style="text-align: center;">
 <% for i in  1..@number_of_pages do %>

  <%= link_to "#{i}", users_index_url(:page_id => i)%> :


 <% end %>
</div>
</body>
</html>
