one:
  name: Ritik Verma
  email: ritik.v.aux@go-jek.com
  gitlab_token: qMAqNOQdaCXoX6Aq6ToLjAP7HAXtywLmSfa7nJ/u--xzvVOF8zolwzmAkH--olOU0t9OUr9/XjSe3ziDmg==
  gitlab_user_id: 1022
  username: ritik.v.aux
  jira_token: YCP+iwnpEul1zzFv6kTnH+qrsWsJ3qcb72cd4YCYn9cqWA==--Bai6KWkqclA32ZNE--2c7eeMWQN9vBf2+lgwCCaA==

two:
  name: Ritik Verma
  email: ritik.v.aux@go-jek.com
  gitlab_token: gN3m3DnXMIe+SF5StWrkY2GuNaWzjr59kjTNlEs/mI4U--XOo6nVmnu4HXth5T--F7bqGbmSgxTmz8ueg9h41A==
  gitlab_user_id: 1022
  username: ritik.v.aux

three:
  name: Ritik Verma
  email: ritik.v.aux@go-jek.com
  gitlab_token:
  gitlab_user_id: 1022
  username: ritik.v.aux

four:
  name: Archit Joshi
  email: archit.j.aux@go-jek.com
  gitlab_token: 7pdsRz0ndbC49DdnAGEpNEbFRAXiigrzyJvSaeWW--4zMEPMoYY5KKtoFy--9V8JtVDrCmiCOnWx+pXLIw==
  gitlab_user_id: 1020
  username: archit.j.aux
  admin: true

five:
  name: Sahil Kharb
  email: sahil.kharb@go-jek.com
  gitlab_token:
  gitlab_user_id:
  username: sahil.kharb

six:
  name: Prakash Dwivedi
  email: prakash.d.aux@go-jek.com
  gitlab_token: iN0W/7Kplx9yn/7VR0HZSjslr0jWNbqISpWMFTZN--eWmVt8MP1sNDZjB5--4Mi1fT9oLd8lgdDXSyc9fw==
  gitlab_user_id: 1234
  username: prakash.d.aux
  admin: false

seven:
  id: 2
  name: Prakash Dwivedi
  email: prakash.d.aux@go-jek.com
  gitlab_token: iN0W/7Kplx9yn/7VR0HZSjslr0jWNbqISpWMFTZN--eWmVt8MP1sNDZjB5--4Mi1fT9oLd8lgdDXSyc9fw==
  gitlab_user_id: 1234
  username: prakash.d.aux

eight:
  name: Archit Joshi
  email: archit.j.aux@go-jek.com
  gitlab_token: AluzmdDwax93FERocnvoui1kZYt8T4Aeri2qP8Eu--pm7MbPO/mqgo0a0X--7FAtGu0hAW7TqGqPrrjfmw==
  gitlab_user_id: 1020
  username: archit.j.aux

nine:
  name: Prakash Dwivedi
  email: prakash.d.aux@go-jek.com
  gitlab_token: JgRwLMuau7+3x9uiJBgls1eMaP4W8gTYnT8JJx9M--F0z7TqV7eq5q4R++--LT0+3Vg4lQw3avShw1l3Iw==
  gitlab_user_id: 1234
  username: prakash.d.aux

ten:
  id: 3
  name: Archit Joshi
  email: archit.j.aux@go-jek.com
  gitlab_token: FH/YvijBziCzDao+RqeK2eld5XCPzQkdznQyuXGc--lcKqhy/m166qU7Jz--s/XD5d4TryB2hv+i/To39A==
  gitlab_user_id: 1020
  username: archit.j.aux
  admin: true

eleven:
  name: Ritik Verma
  email: ritik.v.aux@go-jek.com
  gitlab_token: b2/SlGCmWII9bKGnvr5dR2cJh9kGSg00fci/v+Ba--Z4p6+0712/9nGzb5--5tyj+sDhVXfuFZMd/M6BvQ==
  gitlab_user_id: 1022
  username: ritik.v.aux
  jira_token: YCP+iwnpEul1zzFv6kTnH+qrsWsJ3qcb72cd4YCYn9cqWA==--Bai6KWkqclA32ZNE--2c7eeMWQN9vBf2+lgwCCaA==

twelve:
  id: 5
  name: Archit Joshi
  email: archit.j.aux@go-jek.com
  gitlab_token: VoIOtws+UMNSUBWgY/ydjc9sBNlSDCMbEeRhSm7c--vaNaX6vRcx8TYVRj--4Nt32gFvK8+2AWlFmeTOtw==
  gitlab_user_id: 1020
  username: archit.j.aux
