DB_USER:                     'postgres'
DB_HOST:                     'localhost'
DB_PORT:                     '5432'
DB_PASSWORD:                 ''
DB_POOL:                     '5'
DB_TIMEOUT:                  '5000'
ENABLE_CAS_INTEGRATION:      'false'
CAS_BASE_URL:                'http://localhost:3001'
CAS_LOGIN_URL:                'http://localhost:3001/login'
SMTP_ADDRESS:                'smtp.gmail.com'
SMTP_PORT:                   '587'
SMTP_DOMAIN:                 'test.com'
SMTP_USER_NAME:              'pp@domain.com'
SMTP_PASSWORD:               'password'
DIFF_BASE_URL:               'http://localhost:3000'
DOMAIN_BASE_URL:             'http://localhost:3000'
GITLAB_BASE_URL:             'https://source.golabs.io/'
JIRA_BASE_URL:               'https://godeploy.atlassian.net/'
JIRA_PROJECT_KEY:            'DEMO'
JIRA_ISSUE_TYPE:             'Task'
SLACK_WEBHOOK:               'https://hooks.slack.com/services/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'
GROUP_NOTIFICATION_MAIL:     'group@mail.com'

test:
  RAILS_ENV:                 'test'
  DB_NAME:                   'godeploytest'

production:
  RAILS_ENV:                 'production'
  DB_NAME:                   'godeploy'
