.card-heading{
	padding: 5px;
}
.deployment-container{
	margin-bottom: 0px;
}
.table-container{
	width: 80%;
}
.deployments-done-container{
	margin-bottom: 5px;
}
h4{
	font-size: 22px;
	line-height: 40%;
}