.card-heading{
	padding: 5px;
}
.deployment-container{
	margin-bottom: 0px;
}
.table-container{
	width: 80%;
	.search-card{
		padding: 5px;
	}
}
.deployments-done-container{
	margin-bottom: 60px;
}
select{
	display: initial;
	height: 53px; 
	font-size: 18px; 
	margin-right: 5px;
}
h4{
	font-size: 22px;
	line-height: 40%;
}
.tabs.tabs-fixed-width {
  height: 55px;
}
.tabs .tab a{
  background-color: transparent;
  color: $dark-grey;
  font-size: 20px;
  margin-top: 5px;
}
.tabs .tab a.active{
  color: black;
}
.search-row{
  max-width: 90%;
  margin-bottom: 0px;
}
.search-wrapper{
  position: relative;
  float: right;
  margin: 0 auto;
}
