nav{
	background-color: $theme-green;
}

a{
  color: $link-blue;
}

body {
  background: $theme-background;
  font-family: 'Roboto', sans-serif;
}

h5{
  position: relative;
  color: $dark-grey;
}

hr{
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 940px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $dark-grey;
}

.page-footer{
  position: fixed;
  width: 100%;
  bottom:0;
  height: 40px;
  background-color: $search-button-color;
  z-index: 1001;
}