$border : #ffffff;
$font: normal 300 18px "Muli", sans-serif;
$border-radius : 4px;
$menu-grey: #212121;
$section-p-font-color: #888;
$white: #FFF;
$theme-green: #009944;
$card-icon-color: #81C784;
$card-icon-color-dark : #1B5E20;
$search-button-color: #424242;
$link-blue: #03A9F4;
$theme-background: #F1F1F1;
$dark-grey: #757575;
$light-grey: #9E9E9E;
$project-name-color: #424242;