
#menu-nav {
 max-width: 2000px;
 margin: 00px auto;
 background-color: #00000f;
 border-radius: $border-radius;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#navigation-bar {
 ul {
   border-radius: $border-radius;
   overflow: hidden;
   list-style-type: none;
 }

 li {
   float: left;
   width: 20%;

   &:hover a::before {
     right: 0;
     left: 0;
   }
 }

 a {
   color: #ffffff;
   font-size: 15px;
   text-decoration: none;
   text-align: center;
   padding: 5px 0;
   display: block;
   position: relative;
   transition: all 0.3s ease;

   @media (min-width: 996px){
     font-size: 25px;
   }

   &:hover {
     color: $border;
   }

   &::before {
     content: "";
     transition: all 0.4s ease-in-out;
     position: absolute;
     right: 50%;
     left: 50%;
     bottom: 0;
     height: 2px;
     background-color: $border;
   }

   &:hover::before {
     right: 0;
     left: 0;
   }
 }

}
