.row{
  margin-bottom: 12px;
  max-width: 940px;
}
.search-wrapper{
  position: relative;
  float: right;
  margin: 0 auto;
}
section {
  position: relative;
  margin: 0 auto;
  margin-bottom: 12px;
  max-width: 940px;
  min-height: 80px;
  padding: 5px;
  background: $white;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

section h1 {
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: .5rem;
  font-size: 1.3em;
}

section p {
  margin: 5px 5px 10px 0;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 0.95em;
  color: $section-p-font-color;
}

section .time-p{
  margin-top: 10px;
}

.icon {
  text-align: center;
}

.cards {
  margin-top: 40px;
  margin-left: 65px;
  margin-right: 5px;
}

.cards i {
  font-size: 3em;
  color: $card-icon-color;
  max-width: 50px;
  margin-top: 10px;
  height: auto;
}
::placeholder {
    color: $light-grey;
    opacity: 1; 
}
.cards .search-button-icon{
  max-width: auto;
  height: auto;
  margin: 2px;
  margin-right: 5px;
}
.btn-large{
  padding: 0px;
  padding-left: 5px;
  padding-right: 15px;
  background-color: $search-button-color;
}
.btn-large:hover {
  background-color: black;
}
.btn{
  background-color: $search-button-color;
}
section:hover .icon > i{
  color: $card-icon-color-dark;
}
@media screen and (max-width: 600px) {
  .icon {
    display: block;
  }
  section h1 {
    margin: 10px 0 0 0;
  }
  .search-wrapper{
    float: left;
  }
}