.project_date {
  font-size: 12px;
  @media (min-width: 996px){
    font-size: 20px;
  }
}

.project_description {
  font-size: 12px;
  @media (min-width: 996px){
    font-size: 20px;
  }
}

.project_title {
  font-size: 15px;
  @media (min-width: 996px){
    font-size: 25px;
  }
}
