.card-header {
    line-height: 26px;
    font-size: 20px;
 @media (min-width: 996px){
   font-size: 30px;
   line-height: 48px;
 }
}

.card-text {
    font-size: 12px;
 @media (min-width: 996px){
   font-size: 20px;
 }
}

.fixed-button {
    position: fixed;
    right: 30px;
    z-index: 10;
}

.fixed-button1 {
    position: fixed;
    right: 30px;
    top: 120px;
    z-index: 10;
}

.fab {
	 border:none;
    font-size:1.5em;
    color:white;
    background-color: #000;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
       -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
            box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
  background-color: #009944;
}
.fab:selected {
border:none;
  background-color: #009944;
}

.fab1 {
	  border:none;
    font-size: 0.9em;
    color: white;
    background-color: #000;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
       -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
            box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}


.fixed-username {
    position: fixed;
    left: 30px;
    z-index: 10;
}

.fixed-logout {
    position: fixed;
    left: 30px;
    top: 150px;
    z-index: 10;
}
