#searchbar {
  width: 520px;
  height: 36px;
  background: #718fff;
  border-radius: 5px;
  border: 3px solid #718fff;

}

#container {
  width: 540px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  padding-top: 00%;
}

input {
  width: 400px;
  height: 30px;
  font-size: 20px;
  float:right;
  outline: none;
  padding: 10px;
  border: none;
  background: white;
}

#btn {
  background: #4e74ff;
  width: 105px;
  height: 30px;
  padding-right: 20px;
    padding-left: 20px;
  color: white;
  float: right;
  font: $font;
  cursor: pointer;
  line-height: 30px;
}
