@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

$color: #009944; /* Go Green */

*, *:before, *:after { box-sizing: border-box; }

body{
  font-family: 'Open Sans', sans-serif; -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.row{
  background: #fff;
  padding: 20px;
  position: relative;
  margin: 0 0 1px 0;
  display: block;
  &:hover{
    cursor: pointer;
  }
  &.selected{
    background: #f3f3f3;
  }
}

label {
  cursor: pointer;
  &:before{
    display: inline-block;
    content: "+";
    margin: 0 10px 0 0;
    width: 35px;
    height: 35px;
    border: 3px solid red;
    border-radius: 100%;
    vertical-align: middle;
    color: red;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    line-height: 0.9em;
    transition: transform 0.2s ease-in-out;
  }
}

input[type=checkbox]:checked + label:before{
  background: $color;
  color: #fff;
  transform:rotate(135deg);
  border: 3px solid $color;
  transform-origin: center center;
}

input[type=checkbox] { visibility: hidden; }
