.collection .collection-item{
	line-height: .7rem;
	.row{
		margin: 0px;
	}
	.time-p{
		float: right;
	}
	a{
		margin: 0px 0px;
		font-size: 16px
	}
}
.collection.with-header .collection-header {
	padding: 0px;
	padding-left: 15px;
	h4{
		line-height: 80%;
		font-size: 22px;
	}
}
