<nav>
    <div class="nav-wrapper">
			<img class="navbar-brand" src="/assets/gojeklogo.png" alt="logo" style="height: 50px; width: auto; margin-top: 10px;">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>Hello, <%= user.name%></a></li>
      </ul>
    </div>
</nav>