<div class="navbar-fixed">
	<nav>
	    <div class="nav-wrapper">
				<a href="/"><img class="navbar-brand" src=<%=asset_path 'gojeklogo-1.png'%> alt="logo"></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a>Hello, <%= user.name%></a></li>
	      </ul>
	    </div>
	</nav>
</div>