<%= stylesheet_link_tag  'project-page'%>
<%= render "layouts/topmenu_bar", user: @user, projects: @projects %> 

<div class="container" >
	<div class = "card" style="text-align:center; padding: 25px;margin-top: 30px;">
	<h2> Oops !</h2>
	<% flash.each do |k,v| %>
		<% if v != "You need to sign in or sign up before continuing." %>
			<h4> <%= v %> </h4>
		<% end %>
	<% end %>
	<p ><a class="waves-effect waves-light btn" href="/">Go Back!</a></p>
</div>
</div>
